@import "../global/setting";

.BestofBothWorlds2Paragraphs {
	padding-bottom: 50px;

	.middle-flex {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.best-HIW {
		background-color: transparent;
		padding: 0;
	}

	.middle-HIW {
		display: flex;
		justify-content: center;
	}

	.flex-paras {
		margin-top: 50px;

		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 40px;

		.para {
			position: relative;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			border-left: 1px solid transparent;
			transition: border-left 0.3s;

			h3 {
				color: $blue;
				text-wrap: balance;
			}
			p {
				flex: 1;
				text-wrap: balance;
				padding: 0;
				margin: 0 0 15px 0;
			}

			.highlight {
				position: absolute;
				top: 0px;
				left: 0px;
				background-color: $blue;
				height: 0%;
				width: 2px;
				z-index: 2;
				transition: height 0.3s;
				transition-timing-function: ease-in-out;
			}
		}
	}

	.active-v1 {
		.flex-paras {
			.para:last-child {
				.highlight {
					height: 100%;
				}
			}
			.para:first-child {
				display: none;
			}
		}
	}

	.active-v2 {
		.flex-paras {
			.para:first-child {
				.highlight {
					height: 100%;
				}
			}
			.para:last-child {
				display: none;
			}
		}
	}

	@media (min-width: 1300px) {
		.flex-paras {
			padding: 0 70px;
		}
	}
	@media (min-width: 768px) {
		.flex-paras {
			flex-direction: row;
			justify-content: center;
			gap: 20px;
			.para {
				flex: 1;
			}
		}

		.active-v1 {
			.flex-paras {
				.para:first-child {
					display: block;
				}
			}
		}

		.active-v2 {
			.flex-paras {
				.para:last-child {
					display: block;
				}
			}
		}
	}
}
