@import "../global/_variables";
@import "../global/setting";

.callout {
	padding: 40px 20px 50px;

	text-align: center;
	background-color: $primaryColor;

	&.callout-secondary {
		background-color: $secondaryColor;

		h3 {
			color: #fff;
		}

		p {
			color: #cbdeff;
		}

		.btn:hover {
			background-color: $primaryColor;
		}
	}

	h3 {
		display: block;
		max-width: 1008px;
		margin: 0 auto 40px auto;
		font-size: 30px;
		line-height: 1.56;
		// font-family: "Muli-bold", sans-serif;
		font-weight: $fw-bold;
		color: #2a3846;

		@media (max-width: 767px) {
			margin-bottom: 30px;
			font-size: 20px;
		}
	}

	p {
		margin: 0 auto 64px;
		max-width: 1008px;
		font-size: 20px;
		line-height: 1.6;
		// font-family: "Muli-SemiBold", sans-serif;
		font-weight: $fw-semi-bold;
		color: #484b4d;

		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}
