@import '../global/setting';
.mod-intro {
  padding-top: 20px;
}
.page-new-pricing,
.page-pricing {
  .mod-intro {
    position: relative;
    padding-top: 37px;
    padding-bottom: 10px;
    h1 {
      font-size: rem(40);
      margin-bottom: 11px;
    }
    h5 {
      margin-bottom: 10px;
    }
    &::before {
      content: '';
      @include position(absolute,calc(100% + 85px),0,null,0,0);
      height: 1500px;
      opacity: 0.5;
      background-image: linear-gradient(to bottom, #e9f0f5, #ffffff 100%);
    }
    // &::after {
    //   content: '';
    //   @include position(absolute,$bottom: 0,$left: -340px,$index: 0);
    //   @include sizeEx(719px,621px);
    //   background-image: url('/images/icon-agility.svg');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-position: right bottom;
    // }
    .container {
      position: relative;
      z-index: 1;
    }
  }
}
@media (min-width: 768px) {
  .mod-intro {
    padding-top: 40px;
  }
  .page-new-pricing,
  .page-pricing {
    .mod-intro {
      padding-top: 45px;
      // padding-bottom: 115px;
      &::before {
        height: 506px;
        top: calc(100% + 265px);
      }
    }
  }
}
@media (min-width: 1200px) {
  .page-new-pricing,
  .page-pricing {
    .mod-intro {
      &::before {
        top: calc(100% + 275px);
      }
    }
  }
}