.faqs {
  padding-bottom: 168px;

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #canvas-4 {
    top: 320px;
  }

  h2 {
    margin-bottom: 110px;

    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
  }


  .faq-item {
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #dfdfdf;

    &:last-child {
      border-bottom: 0;
    }

    @media (max-width: 767px) {
      padding-top: 0;
      margin-bottom: 40px;
    }

    .h3 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.67;
      font-family: "Muli-bold", sans-serif;
      color: #2a3846;

      @media (max-width: 767px) {
        min-height: 10px;
        font-size: 18px;
      }
    }

    .content {
      p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.5;
        font-family: "Muli-Regular", sans-serif;
        color: #6d7882;
      }

      ul {
        list-style-type: square;
        margin-left: 20px;
      }

      li {
        font-size: 16px;
        line-height: 1.5;
        font-family: "Muli-Regular", sans-serif;
        color: #6d7882;
      }
    }
  }
  
}
