@import "../global/_variables.scss";


.triangle-feature-list {
  background-image: url('https://static.agilitycms.com/brand/agility-triangle-extended-yellow.svg');
  background-repeat: no-repeat;
  background-position: 20% 100%;
  background-size: auto 450px;
  min-height: 480px;
  margin-bottom: 80px;

  .feature-set {
    margin-left: 20%;

    h2 { margin-bottom: 0; }
    h3 { margin-bottom: 30px; }

    .feature-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        width: 45%;

        h4 {
          margin: 0 0 3px 0;
          padding: 0;
        }
      }

    }
  }
}