@import "../global/_variables.scss";
@import "../global/setting";



.featured-plan-cta {
    background-color: #E9EEF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 5px;

    h4 {
        min-width: 190px;
        max-width: 210px;
		margin: 0 !important;
        padding: 0;
        // font-family: $bold;
        font-weight: $fw-bold;
        line-height: 22px;
        text-align: center;

        strong {
            background-color: #61D85B;
            color: #fff;
            font-weight: bold;
            padding: 2px 5px;
        }
    }

    .desc {
        margin: 0 10px 0 0;
		font-size: .95em;
		padding: 25px 0;
	}


	.btn { min-width: 150px; }





  }

  @media (max-width: $tablet-width) {
	.featured-plan-cta {
		margin-bottom: 10px;
		display: block;
		text-align: center;
		padding: 30px 20px;

		h4, p {
		  margin: 0 0 20px 0;
		  min-width: 100%;
		}

		h4 { font-size: 1.25em; }
	  }
}