@import "../global/_variables.scss";
@import "../global/setting";

#sec-2 {
  margin: $module-margin-spacing;

  #canvas-2 {
    top: 150px;
  }
}

.benefits {
  position: relative;

  h2 {
    margin-bottom: 40px;
  }

  .rotated-bg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 0;
    background-image: url("https://static.agilitycms.com/layout/img/bg/Triangle_3.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .container-my {
    display: block;
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .ben-items-forslider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .ben-item {
      max-width: 352px;
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $panel-box-shadow;
	  background-color: #ffffff;
	  color: $colorBasic;
      text-align: center;
      padding: 35px 20px 40px 20px;
	  margin-top: 20px;
	  &[href] {
	  &:hover {
        box-shadow: $panel-box-shadow-hover;
      }
      &:active {
        box-shadow: $panel-box-shadow-active;
	  }
	}
      .img {
        line-height: 0;
        margin: 0 auto 35px auto;

        img {
          height: 66px;
          width: auto;
        }
      }

      .ben-title {
        // font-family: $bold;
        font-weight: $fw-bold;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $titles;
        line-height: 1;
        margin-bottom: 22px;
      }

      .ben-subtitle {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
      }

      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        margin: 10px 0;
      }
    }
  }

  .ben-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .tns-nav {
    width: 78%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 4px;
    background-color: #ebeef0;

    button {
      border: none;
      outline: none;
      height: 4px;
      border-radius: 4px;
      background-color: transparent;
      width: 33.3%;
      top: -13px;
      position: relative;
    }

    .tns-nav-active {
      background-color: #ffcb28;
    }
  }
}

#slider-nav {
  display: none;
  height: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ebeef0;
}

#slider-nav button {
  border: none;
  padding: 0;
  display: block;
  max-width: 33.33%;
  flex: 0 0 33.33%;
  cursor: pointer;
  height: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#slider-nav button:focus,
#slider-nav button:active {
  outline: none !important;
}

#slider-nav button.current {
  background-color: #ffcb28;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

