@import "../global/_variables.scss";
@import '../global/setting';

.feature-block-w-text {
	.products-features {
		display: flex;
		align-items: center;

		.features-left {
			width: 30%;

			@media (max-width: 767px) {
				text-align: center;
			}

			h3 {
				margin-bottom: 30px;
				font-size: 20px;
				line-height: 1.67;
				// font-family: "Muli-bold", sans-serif;
				font-weight: $fw-bold;
				color: #2a3846;

				@media (max-width: 480px) {
					font-size: 20px;
				}
			}

			p {
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 1.8;
				// font-family: "Muli-Regular", sans-serif;
				font-weight: $fw-regular;
				color: #6d7882;

				@media (max-width: 767px) {
					text-align: left;
				}
			}

			a.btn {
				display: inline-block;
				margin-top: 30px;
				// height: 48px;
				// line-height: 48px;
			}
		}

		.features-right {
			width: 70%;
			.features-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.feature-item {
					width: 220px;

					margin: 16px 0;
					.item-inner {
						padding: 48px 10px 20px 10px;
						border-radius: 5px;
						box-shadow: 0 18px 54px 0 rgba(0, 0, 0, 0.07);
						background-color: #ffffff;
						text-align: center;
						height: 100%;

						.image {
							width: 96px;
							height: 100px;
							line-height: 0;
							display: flex;
							justify-content: center;
							margin: 0 auto;

							img {
								max-height: 80px;
								min-width: 80px;
							}
						}

						.title {
							margin-bottom: 15px;
							height: 46px;
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							align-items: center;
							-webkit-box-align: center;
							-moz-box-align: center;
							-ms-flex-align: center;
							justify-content: center;
							-webkit-box-pack: justify;
							-moz-box-pack: justify;
							-ms-flex-pack: justify;

							h4 {
								font-size: 18px;
								// font-family: "Muli-SemiBold", sans-serif;
								font-weight: $fw-semi-bold;
								color: #2a3846;
							}
						}

						p {
							margin-bottom: 5px;
							font-size: 16px;
							line-height: 1.5;
							// font-family: "Muli-Regular", sans-serif;
							font-weight: $fw-regular;
							color: #6d7882;
						}
						.arrow-button {
							margin-top: 20px;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $mobile-width) {
		.products-features {
			display: block;

			.features-left {
				width: 100%;
			}

			.features-right {
				width: 100%;
				.features-list {
					.feature-item {
						width: 100%;
					}
				}
			}
		}
	}
}
