@import "../global/variables.scss";

.featured-case-studies {
  margin: $module-margin-spacing;

  text-align: center;
  .case-wrapper {
    padding: 5px 60px;

    .case-studies {
      display: flex;
      justify-content: space-between;

      .case-item {
        width: 200px;
        align-content: center;

        flex: 1 1 200px;
        padding: 20px;
        .case-item-inner {
          border-radius: $border-radius;
          box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          text-align: center;

          .image {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            height: 190px;
            overflow: hidden;
          }

          .customer-logo {
            img {
              height: 80px;
              max-width: 140px;
            }
          }
          .content {
            color: $colorBasic;
            font-size: 14px;
            padding: 0 20px 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $std-width-minus-1) {
  .featured-case-studies {
    .case-wrapper {
      padding: 5px 0;

      .case-studies {
        .case-item {
          width: 100%;
          flex: none;
        }
      }
    }
  }
}
