@import "../global/variables.scss";

.featured-case-studies {
  margin: $module-margin-spacing;
  width: 100%;
  text-align: center;
  .case-wrapper {
    padding: 5px 0;

    .case-studies {
      display: flex;
      justify-content: space-evenly;
      align-items: stretch; /* align items in Cross Axis */
      flex-wrap: wrap;
      align-items: stretch;
      flex-direction: row;

      .case-item {
        max-width: 313px;
        width: 100%;
        margin: 20px;

        .case-item-inner {
          border-radius: $border-radius;
          box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          text-align: center;
		  height: 100%;
		  &:hover {
			box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.15);
		  }
		  &:active {
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
		  }

          .image {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            height: 190px;
			overflow: hidden;
			img {
				width:100%;
			}
          }

          .customer-logo {
            img {
              height: 80px;
              max-width: 140px;
            }
          }
          .content {
            color: $colorBasic;
            font-size: 14px;
            padding: 0 20px 20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $std-width-minus-1) {
  .featured-case-studies {
    .case-wrapper {
      padding: 5px 0;

      .case-studies {
        .case-item {
          width: 100%;
          flex: none;
        }
      }
    }
  }
}
