@import "../global/_variables.scss";

.g2-review-listing {
  margin: $module-margin-spacing;
  width:100%;
  p.intro {
    margin-bottom: 30px;
  }
  .g2-review-panel {
	  padding: 0 50px;
	.g2-review-widget {
		width: 100%;

	}
}
}
