@import "../global/_variables.scss";

$panel-active-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.65);
$panel-hover-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);


.getting-started {

	margin: $module-margin-spacing;
	.title-component {
		margin-bottom: 40px;
	}


	.cards {
		width: 100%;
		display: flex;
		align-content: space-between;
		scroll-snap-type: x mandatory;
		margin-bottom: 50px;

		.card {
			flex: 1;
			margin: 10px;
			border-width: 0;
			background: none;
			box-shadow: $panel-box-shadow;
			padding: 0;
			cursor: pointer;
			overflow: hidden;
			transition: box-shadow 0.2s ease-in-out;

			.card-image {
				height: 150px;
				background-size: cover;
			}
			.card-title {
				height: 100px;
				margin: 8px 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				h3 {
					font-size: 20px;
					font-weight: normal;
					color: $colorBasic;
				}
			}
			&:hover {
				box-shadow: $panel-box-shadow-hover;

			}
			&.selected {
				box-shadow: $panel-active-shadow;
				padding: 0;
			}
		}


	}


	.item-container {
		display: block;
		width: 100%;

		.item {

			visibility: hidden;
			overflow: hidden;
			height: 0;
			opacity: 0;
			transition: height 0s, opacity 0.5s ease-in-out;

			&.selected {
				opacity: 1;
				visibility: visible;
				height: auto;
				overflow: initial;
			}

			.item-flex {
				margin:20px;
				display: flex;
				flex-direction: row-reverse;
				align-content: space-between;

				.item-content {
					position: relative;
					flex: 0.7;
					display: flex;
						flex-direction: column;
						justify-content: center;

					.rich-text {
						margin: 0 0 15px 0;

					}

					h3 {
						font-size: 24px;
						font-weight: bold;
						margin-bottom: 25px;
					}

					.item-ctas {
						a {
							margin-right: 10px;
							margin-bottom: 10px;
							// padding: 0px 12px;
							// min-height: 30px;
							// line-height: 30px;

							&.secondary-cta {
								background-color: $lightGreyColor;
								color: $colorBasic;
								box-shadow: none;
								&:hover {
									background-color: darken( $lightGreyColor, 10);
								}

							}
						}
						margin-bottom: 15px;
					}

					.third-cta-row {
						.third-cta {
							color: $titles;
							line-height: 30px;
							background-image: url(https://static.agilitycms.com/layout/img/ico/gray.svg);
							background-position: right -2px;
							padding-right: 30px;
							background-repeat: no-repeat;
							transition: padding-right .25s ease-in-out;
							&:hover {
								padding-right: 40px;
							}

						}
					}
				}
				.item-image {
					margin-left: 20px;
					flex: 0.3;
				}
			}

		}
	}


	@media (max-width: $mobile-width) {
		.cards {
			width: 100%;
			overflow: auto;
			display: flex;
			flex-flow: row nowrap;
			align-content: space-between;
			scroll-snap-type: x mandatory;
			flex:none;
			margin:0;
			padding: 0;
			.card {
				scroll-snap-align: center;
				width: 90%;
				flex: none;
				margin: 20px 0;
			}
		}

		.item-container {
			.item {
				.item-flex {
					display: block;

					.item-image {
						margin: 5px;
					}

					.item-content {
						margin-top: 15px;

						.item-ctas {
							a {
								display: block;
								width: 100%;
								margin: 20px 0;
							}
						}

						.third-cta-row {
							text-align: center;
							.third-cta {

							}
						}
					}
				}
			}
		}
	}

}
