@import "../global/_variables.scss";
@import "../global/setting";

.latest-blog-posts {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  // @media (max-width: 991px) {
  // 	margin-bottom: 0;
  // }

  // .col-md-4 {
  // 	@media (max-width: 991px) {
  // 		margin-bottom: 30px;
  // 	}
  // }

  // @media (max-width: 480px) {
  // 	margin-bottom: 0;
  // }

  .title-component {
    display: block;
    margin-bottom: 42px;
    width: 100%;
  }

  // h2.title-component {
  // 	max-width: 1008px;
  // 	display: block;
  // 	margin: 0 auto 42px;
  // 	font-size: 30px;
  // 	line-height: 1.56;
  // 	font-family: "Muli-bold", sans-serif;
  // 	color: #2a3846;
  // 	text-align: center;

  // 	@media (max-width: 767px) {
  // 		font-size: 30px;
  // 		margin-bottom: 90px;
  // 	}

  // 	@media (max-width: 480px) {
  // 		margin-bottom: 40px;
  // 	}
  // }

  .blog-wrapper {
    display: block;
    width: 100%;
    .blog-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      @media (max-width: $mobile-width) {
        display: block;
      }

      .blog-item-container {
        flex: 0 0 300px;
        margin: 0 0 20px 0;

        .blog-item {
          border-radius: $border-radius;
          box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          height: 100%;
          position: relative;
          padding-bottom: 30px;

          // @media (max-width: 991px) {
          // 	margin-bottom: 32px;
          // }
          // @media (max-width: 480px) {
          // 	height: auto;
          // }

          .image {
            position: relative;

            img {
              border-top-left-radius: $border-radius;
              border-top-right-radius: $border-radius;
              display: block;
              margin: 0 auto;
            }

            span {
              position: absolute;
              left: 0;
              bottom: 8px;
              display: inline-block;
              height: 32px;
              line-height: 1.8;
              padding-left: 24px;
              padding-right: 20px;
              border-radius: 0 3px 3px 0;
              background-color: #ffcb28;
              font-size: 16px;
              // font-family: "Muli-bold", sans-serif;
              font-weight: $fw-bold;
              color: #fff;
            }
          }

          .content {
            padding: 24px 24px 0;
            text-align: center;

            @media (max-width: 480px) {
              padding: 15px 15px 32px;
            }

            h3 {
              // font-family: $bold;
              font-weight: $fw-bold;
              font-size: 20px;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              color: $titles;
              margin-bottom: 12px;
            }

            p {
              margin-bottom: 30px;
			  color: #6d7882;
			  min-height: 80px;
            }
          }

          a.btn {
			width: 200px;
          }
        }
      }
    }
  }

  .bottom-btn {
    width: 100%;
    text-align: center;
    a {
      margin: 10px 0 0 0;
      min-width: 176px;
    }
  }
}
