@import "../global/_variables.scss";
@import '../global/setting';
.thanks-block {
  .resource-lp-right {
    font-size: rem(21);
    line-height: 1.33;
  }
  position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 872px;
		max-height: 100%;
		opacity: .75;
		background-image: linear-gradient(to bottom, #e9f0f5 0%, #fff);
	}
}
// .resource-lp-left {
//   // background-color: $color-ff;
//   // padding: 250px 44px 44px;
//   // margin-left: auto;
//   // margin-bottom: 45px;
//   // border-radius: 8px;
//   // box-shadow: inset -3px -8px 7px rgba($color: $black, $alpha: 0.1), 0 27px 57px rgba($color: $color-58, $alpha: 0.16);
// }
// .res-pattern-logo {
//   margin-bottom: 25px;
//   .ps-as {
//     left: auto;
//     right: 25px;
//     top: 20px;
//   }
// }
// .resource-lp-right {
//   // max-width: 500px;
//   height: 200px;
// }

@media screen and (min-width: 992px) {
  .thanks-block {
    .resource-lp-right {
      max-width: 650px;
      padding-top: 45px;
      padding-right: 50px;
    }
    .resource-lp-left {
      margin-left: 0;
    }
    .col-second {
      padding-left: 0;
    }
  }
  // .resource-lp-left {
  //   padding: 250px 44px 44px;
  //   margin-bottom: 0;
  //   max-width: 550px;
  // }
  // .resource-lp-right {
  //   max-width: 500px;
  // }
}
// @media screen and (min-width: 1200px) {
//   .resource-lp-left {
//     margin-right: 50px;
//   }
// }