@import "../global/_variables.scss";

.blog-post-details {
	padding-bottom: 80px;

	.container.p-w-small {
		> .h4 {
			margin-bottom: 20px;
		}

		.image {
			margin-bottom: 24px;

			img {
				display: block;
				margin: 0 auto;
			}

			@media (max-width: 1216px) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.meta {
			display: flex;
			margin-bottom: 32px;
			align-items: center;
			.author {
				display: flex;
				align-items: center;
				margin-right: 10px;

				.author-image {
					margin-right: 16px;
					width: 52px;
					height: 52px;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					overflow: hidden;
				}

				.h5 {
					margin: 0 ;
					font-size: 16px;
					// font-family: "Muli-Regular", sans-serif;
					font-weight: $fw-bold;
					color: #484b4d;
				}
			}

			.date {
				margin-top: 2px;
				font-size: 16px;
				// font-family: "Muli-Regular", sans-serif;
				font-weight: $fw-regular;
				color: #9fa7b0;
			}
		}

		.tags {

			margin-bottom: 25px;
			a {
				text-decoration: none;
				padding: 6px 8px 3px;
				margin: 5px;
				font-size: 14px;
				border-radius: 4px;
				background-color: #ebebeb;
				color: $greyColor;
				transition: all .2s ease-in-out;
				&:hover {
					color: darken($greyColor, 20%);
					background-color: darken(#ebebeb, 5%);
				}
				&:first-child {
					margin-left: 0;
				}

			}
		}

		.post-content {
			@media (min-width: $tablet-width) {
				margin: 0 50px;
			}
		}

		a.back {
			text-decoration: none;
			display: flex;

			align-items: center;

			img {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				margin-right: 10px;
				transition: all 0.15s ease-out;
			}

			span {
				font-size: 16px;
				// font-family: "Muli-Bold", sans-serif;
				font-weight: $fw-bold;
				color: #484b4d;
			}

			&:hover {
				img {
					margin-left: -5px;
					margin-right: 15px;
				}
			}
		}
	}

	.twitter-tweet {
		margin: 10px auto;
	}

	.rich-text {
		margin-top:0px;
		margin-left: auto;
		margin-right: auto;
		.container.p-w-small {
			padding-top: 0;
		}
		a.btn {
			// font-family: "Muli-bold", sans-serif;
			font-weight: $fw-bold;
			color: #fff;
			text-decoration: none;
			line-height: 48px;
			font-size: 13px;
			font-weight: bold;
		}
	}
}
