@import "../global/_variables.scss";

.pricing {
  margin-top: 10px;

  .plan-flex {
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;

	.plan-item
	{
		margin-bottom: 20px;
		width: 24%;

		@media (max-width: $tablet-width) {
			width: 48%;
		}

		@media (max-width: $mobile-width) {
			width: 100%;
			margin: 10px;
		}

	}

  }

}







.col-md-3 {
  &.col-sm-6 {
    @media (max-width: 1199px) {
      max-width: 50%;
      -webkit-box: 0 0 50%;
      -moz-box: 0 0 50%;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
    @media (max-width: 480px) {
      max-width: 100%;
      -webkit-box: 0 0 100%;
      -moz-box: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
}


.plans-container {
  margin-bottom: 20px;
  width: 100%;
}

.plan-type {
  background: #FFFFFF;
  padding: 0;
  box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  -webkit-box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  border-radius: 10px;
  text-align: center;
  position: relative;
  //height: 100%;

  .title-bar {
      background: #E9EEF1;
      border-radius: 10px 10px 0 0;
      padding: 15px 10px;

      h3 {
          font-size: 1.2em;
          font-family: 'Muli-Bold', 'Sans-Serif';
      }
  }

  .plan-body {
      padding: 10px;

      .plan-icon {
          margin: 20px 0;
          img {
              max-height: 100px;
          }
      }

      .btn {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }

      h4 {
        margin-bottom: 15px;
        font-family: 'Muli-Bold', 'Sans-Serif';

        span {
          display: block;
          min-height: 60px;
          font-size: .85em;
          margin-bottom: 8px;
          color: #b3b3b3;
          font-weight: normal;
          font-family: 'Muli-Regular', 'Sans-Serif';
        }
      }
  }

  .plan-features {
      margin: 0;
      padding: 10px 0;
      list-style: none;
      margin-bottom: 8px;
      background-color: #F8FBFC;
      border-top: 1px solid #dfdfdf;
	  border-bottom: 1px solid #dfdfdf;

      li {
          padding: 8px 0;
          font-size: .9em;

          span {
              font-size: 1.2em;
              display: block;
              font-weight: bold;
              font-family: 'Muli-Bold', 'Sans-Serif';
          }
      }
      li.single {
          min-height: 132px;
          align-content: center;
          justify-content: center;
          padding: 30px 20px 0 20px;
      }
  }
}

.feature-lines {
  width: 50%;
  height: 30px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  margin: 0 auto;
}

.disclaimer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -10px;
  font-style: italic;
}

.details-button {
  padding-top: 20px;
  border-top: 1px solid #dfdfdf;
  width: 100%;
  display: flex;
  margin-bottom: 50px;

  .btn {
    margin: 0 auto;
  }
}

.plan-all-features {
  background: #ffffff;
  background: -moz-linear-gradient(top, #e9eef1 0%, #ffffff 50%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e9eef1), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e9eef1 0%, #ffffff 50%, #ffffff 100%);
  background: -o-linear-gradient(top, #e9eef1 0%, #ffffff 50%, #ffffff 100%);
  background: -ms-linear-gradient(top, #e9eef1 0%, #ffffff 50%, #ffffff 100%);
  background: linear-gradient(to bottom, #e9eef1 0%, #ffffff 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9eef1', endColorstr='#ffffff', GradientType=0 );
  box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  -webkit-box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 3px 9px 4px rgba(0,0,0,0.04);
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0 13px;

  h3 {
      margin-bottom: 20px;
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 1px solid #e9eef1;
      font-family: 'Muli-Bold', 'Sans-Serif';
  }

  ul.two-column {
      display: flex;
      flex-wrap: wrap;
      li {
          flex-grow: 1;
          width: 49%;
          margin-bottom: 10px;

          i {
              color: yellow;
              margin-right: 3px;
          }
      }
  }
}
