@import '../global/setting';

.pricing-package {
  // position: relative;
  // z-index: 4;
  .btn {
    border: 0;
    display: block;
    margin: 0;
    &::after {
      content: none;
      display: none;
    }
    .icomoon {
      font-size: rem(11);
    }
  }
  
}
.table-pin {
  position: fixed;
  // left: 50% !important;
  z-index: 10;
  border-color: transparent !important;
  // transform: translateX(-50%);
}
.wrap-price-head {
  margin-top: 82px;
}
.price-head {
  padding: 37px 38px 29px;
  color: $color-17;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 5px 30px -8px rgba(85, 63, 164, 0.25);
  margin-bottom: 35px;
  height: calc(100% - 35px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background-color: $color-c9;
  }
  * {
    z-index: 2;
    position: relative;
  }
  .btn {
    color: $white;
    padding: 15px 10px 12px!important;
    background-color: $color-4c;
    border-color: $color-4c;
    box-shadow: 1px 0px 1px 0 $white;
    &::after {
      top: 15px !important;
    }
  }
  &.type-free {
    // border-color: $color-ff;
  }
  &.type-standard {
    
    .btn {
      color: $color-17;
      background-color: $color-ff;
    }
    &::before {
      background-color: $color-ff;
    }
  }
  &.type-pro {
    .btn {
      background-color: $color-58;
    }
    &::before {
      background-color: $color-58;
    }
  }
  &.type-enterprise {
    .btn {
      background-color: $color-17;
    }
    &::before {
      background-color: $color-17;
    }
  }
}
// .table-header {
//   // max-width: 970px;
//   // max-width: 690px;
//   // background-color: #fff;
//   // max-width: 100%;
// }

.price-type {
  font-size: rem(24);
  line-height: 1.29;
  letter-spacing: -0.46px;
  margin-bottom: 21px;
  font-weight: 600;
  color: $color-17;
  span:not(.pr-month) {
    line-height: 0.97;
    letter-spacing: 0.5px;
  }
}
.price-value {
  font-size: rem(35);
  // font-weight: $fw-bold;
  line-height: 1.11;
  letter-spacing: 0.5px;
  margin-bottom: 11px;
  .sale-price-cover {
    overflow: hidden;
    margin-top: -7px;
    transition: all .25s;
    height: 0;
    margin-bottom: 4px;
  }
  .sale-override {
	  text-decoration:line-through;
    display: block;
    opacity: .75;
	  font-size: rem(24);
    line-height: 1.29;
    letter-spacing: 0.34px;
	  color: $color-4c;
    margin-bottom: 4px;
  }
  .sale-price {
	font-size: rem(32);
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    color: $color-17;
    // font-weight: 400;
    margin-top: 7px;
    letter-spacing: 0;
  }
}
.description {
  margin-bottom: 23px;
  margin-top: 22px;
  p {
    font-size: 15px;
    color: $color-4c;
    line-height: 1.47;
  }
}

// .pr-sub-title {
//   font-size: rem(19);
//   font-weight: bold;
//   line-height: 1.37;
//   color: $color-2a;
// }
.pr-month {
  position: relative;
  font-size: rem(14) !important;
  line-height: 2.14;
  color: $color-e9;
  top: -15px;
  // font-weight: 400;
  &.strike-through {
	text-decoration:line-through;
	color: #ddd
  }
}
.show-more-mb {
  color: $white;
  border-top: 1px solid $white;
  // padding: 3px 0;
  .icomoon {
    display: block;
    // transform: rotate(90deg);
    transition: transform .25s;
    transform-origin: center;
    font-size: rem(34);
  }
}
.most-popular {
  border-radius: 2px;
  background-color: #e9f0f5;
  font-size: rem(12);
  font-weight: 600;
  letter-spacing: .2px !important;
  font-style: italic;
  line-height: 1.75;
  padding: 2px 5px;
  position: relative;
  top: -3px;
  margin-left: 6px;
  color: $color-58;
  // font-family: $mlSemi;
  font-weight: $fw-semi-bold;
  .icomoon {
    margin-right: 5px;
    font-size: rem(10);
    &::before {
      color: $color-58;
    }
  }
}
// .pricing-package {
//   margin-top: -55px;
// }
.show-hide-act,
.show-hide-table-mb {
  height: 0;
  overflow: hidden;
  transition: height 0.45s;
}
.pr-hidden {
  visibility: hidden;
  opacity: 0;
}
.sale-price-box {
  font-size: rem(14);
  letter-spacing: 1px;
  color: #fff;
  background-color: $color-4c;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-family: $mlBold;
  font-weight: $fw-bold;
  position: absolute;
  right: -24px;
  top: 20px;
  width: 115px;
  height: 23px;
  transform: rotate(45deg);
}
.togger-price {
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  background-color: #e9f0f5;
  font-size: 14px;
  color: #4c6884;
  position: relative;
  // font-family: $mlBold;
  font-weight: $fw-bold;
  line-height: 1.29;
  .overlay-active {
    background-color: #5800d4;
    border-radius: 14px;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .35s;
  }
  .is-active + .overlay-active {
    left: 50%;
  }
}
.wrap-togger-price {
  .sale-text {
    font-size: 12px;
    // font-weight: 600;
    font-weight: $fw-bold;
    line-height: 1.75;
    color: $color-4c;
    margin-left: 11px;
    font-style: italic;
    white-space: nowrap;
    &.text-purple {
      color: $color-58;
    }
  }
}
.window-os {
  .item-t-price {
    padding: 6px 0 3px;  
  }
}
.item-t-price {
  border-radius: 14px;
  padding: 5px 0;
  width: 87px;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: all .35s;
  cursor: pointer;
  &.is-active {
    color: #fff;
  }
}
.table-header-pin {
  // border-bottom: 1px solid rgba(76, 104, 132, 0.2);
  // padding: 0 20px;
  margin: 0 auto;
  margin-left: -20px;
  margin-right: -20px; 
  &::before {
    content: '';
    position: absolute;
    width: 110vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-bottom: 1px solid rgba(76, 104, 132, 0.2);
  }
  &:not(.table-pin) {
    position: relative;
    top: 0 !important;
  }
  &.table-pin {
    &::before {
      background-color: $white;
    }
  }
  td {
    div {
      color: $color-17;
      // font-weight: bold;
      // font-family: $mlBold;
      font-weight: $fw-bold;
      font-size: 15px;
      line-height: 1.67;
      letter-spacing: -0.15px;
    }
  }
  .btn {
    display: none;
  }
}
.content-pricing {
  margin-top: 65px;
  margin-bottom: 37px;
  position: relative;
  h2 {
    // font-family: $ml;
    // font-weight: 400;
    font-weight: $fw-regular;
  }
}
.trigger-catelogy {
  // padding: 11px 8px  11px 18px;
  padding: 15px 0;
  background-color: #e4ecf3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: 0;
    top: 0;
    background: #e4ecf3;
    z-index: 0;
  }
  h3 {
    color: $color-58;
    // font-family: $mlBold;
    font-weight: $fw-bold;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
  .icomoon {
    font-size: 35px;
    color: $color-58;
    z-index: 1;
    position: absolute;
    right: -6px;
    top: 50%;
    transition: all .35s;
    transform: translateY(-50%) rotate(
  -90deg
  );
  }
}
.tr-show-mb td {
  color: $color-4c;
  font-size: 14px;
  line-height: 1.43;
  // font-family: $mlBold;
  font-weight: $fw-bold;
  padding-bottom: 4px;
  padding-top: 31px;
}
.item-price-catelogy {
  // margin-bottom: 52px;
  margin-bottom: 24px;
  &.hidden {
    .trigger-catelogy .icomoon {
      transform: translateY(-50%) rotate(90deg);
    }
  }
  &:not(.hidden) {
    padding-bottom: 27px;
  }
  &:first-child {
    .table-togger {
      height: auto !important;
    }
  }
}
.wrap-price-catelogy {
  padding-top: 25px;
  th,
  td {
    vertical-align: top;
  }
}
.price-desktop {
  th {
    padding: 20px 6px;
    vertical-align: top;
    background-color: $white;
    // &:first-child {
    //   background-color: transparent;
    // }
    &:last-child {
      padding-right: 0;
    }
  }
  th,
  td {
    width:25%;
    &:first-child {
      width: 0%;
    }
  }
  td:not(.pr-sub-title) {
    // border-bottom: 1px solid rgba(76, 104, 132, 0.2);
    // padding: 0 10px;
    font-size: rem(13);
    // font-weight: bold;
    line-height: 1.38;
    letter-spacing: -0.13px;
    color: $color-17;
    overflow: hidden;
    position: relative;
    // font-family: $mlSemi;
    font-weight: $fw-semi-bold;
    &:first-child {
      // font-weight: $fw-regular;
      font-size: rem(16);
      color: $color-2a;
      .content-catelogy {
        display: block;
        font-size: rem(14);
        line-height: 1.5;
        letter-spacing: -0.14px;
        color: $color-4c;
        opacity: .8;
        margin-top: 6px;
        text-align: left;
        min-height: 0;
      }
    }
   

    div {
      padding: 6.5px 5px 6.5px 0;
      text-align: center;
      position: relative;
      min-height: 34px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &.text-pin {
        display: none;
        text-align: left;
        padding-left: 0 !important;
      }
    }
  }
  .table-header-pin {
    td:not(.pr-sub-title) div {
      padding: 10px 5px;
    }
  }
}
.item-price-catelogy {
  tr:not(.tr-show-mb) {
    background-color: rgba(233, 240, 245, 0.5);
    transition: all .35s;
  }
  table {
    width: 100%;
  }
  &:first-child {
    .trigger-catelogy {
      display: none;
    }
  }
}
.table-togger {
  overflow: hidden;
  transition: all .35s;
  margin-top: -12px;
  position: relative;
  .icon-check-bg {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .item-price-catelogy {
    tr:not(.tr-show-mb) td {
      &:first-child {
        display: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .table-header-pin {
    &.table-pin {
      // left: 20px !important;
      transform: none !important;
      // width: calc(100% - 40px);
      margin: 0 !important;
    }
    td {
      &:not(:first-child) {
        width: 25%;
      }
    }
  }
}
@media (min-width: 768px) {

  .pricing-package {
    // margin-top: -84px;
    // max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    // .table-header {
    //   max-width: 690px;
    // }

  }
  .box-price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 50px);
  }
  .wrap-price-head {
    margin-top: 63px;
  }
  .price-head {
    margin-bottom: 27px;
    height: calc(100% - 27px);
  }
  .content-pricing {
    margin-top: 100px;
    margin-bottom: 33px;
  }
  .table-header-pin td div {
    font-size: 24px;
    line-height: 1.29;
    letter-spacing: -0.24px;
  }
  .price-desktop {
    .table-header-pin {
      padding: 0;
      td:not(.pr-sub-title) div {
        padding: 15px 0;
      }
    }
  }
  .description {
    margin-top: 9px;
  }
}
@media (min-width: 992px) {
  // .table-header {
  //   // max-width: 930px;
  // }
  .pricing-package {
    // margin-top: -135px;
    // max-width: 645px;
    table {
      width: 100%;
    }
    .btn-free {
      background-color: $color-4c;
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .btn-standard {
      background-color: $color-ff;
      color: $color-17;
      &:hover {
        color: $color-17;
      }
    }
    .btn-pro {
      background-color: $color-58;
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .btn-enterprise {
      background-color: $color-17;
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  .wrap-price-head {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-pricing {
    margin-top: 52px;
    margin-bottom: 56px;
  }
  .wrap-price-catelogy {
    padding-top: 33px;
  }
  .tr-show-mb {
    display: none;
  }
  .price-desktop {
    td,th {
      width: 18%;
    }
    .table-header-pin {
      td:not(.pr-sub-title) {
        padding: 0;
        div {
          padding: 11px 15px;
        }
        &:last-child {
          div {
            padding-right: 0;
          }
        }
      }
      &.table-pin td:first-child {
        display: table-cell;
        .text-pin {
          display: block;
        }
      }
    }
    td:not(.pr-sub-title) {
      font-size: 16px;
      line-height: 1.56;
      letter-spacing: -0.16px;
      padding: 17px 15px 15px 15px;
      &:first-child {
        padding-left: 12px;
        // font-family: $mlBold;
        font-weight: $fw-bold;
        .content-catelogy {
          // font-family: $ml;
          font-weight: $fw-regular;
          // margin-left: 4px;
        }
      }
    }
  }
  .item-price-catelogy tr:not(.tr-show-mb) {
    background-color: transparent;
  }
  .table-header-pin {
    &::before {
      width: 100%;
    }
    &.table-pin {
      &::before {
        width: 110vw;
      }
    }
    .btn {
      display: none;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .item-price-catelogy {
    margin-bottom: 30px;
    &:not(.hidden) {
      padding-bottom: 0;
      .table-togger {
        margin-top: 19px;
      }
    }
  }
  .table-togger {
    margin-top: 0;
  }
  .trigger-catelogy {
    padding: 15px;
    .icomoon {
      right: 13px;
    }
    &::before {
      left: 0;
      right: 0
      ;
    }
  }
  /* ---------------------------- */
  /* Css for window OS - fix font */
  .window-os {
    .trigger-catelogy {
      padding: 17px 15px 13px;
    }
  }
}

@media (min-width: 1200px) {
  // .table-header {
  //   // max-width: 1110px;
  // }
  .wrap-price-head {
    max-width: none;
    margin-top: 78px;
  }
  .price-head {
    padding: 39px 28px 35px;
  }
  .table-header-pin {
    td {
      div {
        line-height: 1.29;
        letter-spacing: -0.46px;
        font-size: 24px;
        padding: 15px 20px;
      }
    }
    &.table-pin {
      .btn {
        display: block;
        margin-top: 12px;
        padding-right: 25px;
      }
    }
  }
  .content-pricing {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .price-value {
    font-size: rem(35);
    span:not(.pr-month) {
      letter-spacing: -.1px;
    }
  }
  .price-desktop {
    th,
    td {
      width: 18.85%;
      &:first-child {
        width:25%;
      }
      &:last-child {
        width: 18.45%;
      }
    }
    td:not(.pr-sub-title) div {
      display: block;
      padding: 0;
    }
  }
  .wrap-price-catelogy {
    padding-top: 5px;
    tr:hover {
      background-color: rgba(233, 240, 245, .5);
      .content-catelogy {
        color: $color-2a !important;
      }
      td:not(.pr-sub-title):first-child {
        color: $color-17;
      }
    }
  }
  .description {
    margin-bottom: 33px;
  }
  .icon-check-bg {
    margin-top: 5px;
    display: inline-block;
  }
  // .item-price-catelogy {
  //   margin-bottom: 42px;
  // }
}
@media (min-width: 1501px) {
  // .table-header {
  //   // max-width: 1340px;
  // }
  .price-head {
    padding: 36px 37px 22px;
  }
  .trigger-catelogy {
    padding-left: 17px;
  }
  .price-desktop {
    td {
      &:not(.pr-sub-title) {
        &::before {
          left: 19px;
          right: 19px;
        }
        &:first-child {
          padding-left: 17px;
          .content-catelogy {
            padding-left: 0;
          }
        }
      }
    }
    .table-header-pin.table-pin td:not(.pr-sub-title) div {
      padding: 25px 6px 20px;
    }
  }
  .description {
    margin-top: 2px;
  }
}

@media (max-width: 1024px) {
  .price-item-mb {
    margin-bottom: 35px;
    width: 100%;
    overflow: hidden;

    &.item-free {
      .show-more-mb {
        background-color: $color-e9;
        color: $color-2a;
      }
    }
    &.item-standard {
      .show-more-mb {
        background-color: $color-4c;
      }
      td {
        // padding:15px 10px 10px;
        &:nth-child(2) {
          background-color: rgba(88, 153, 218, .1);
        }
      }
    }
    &.item-pro {
      .show-more-mb {
        background-color: $color-58;
      }
      td {
        // padding:15px 10px 10px;
        &:nth-child(2) {
          background-color: rgba(117, 86, 232, .1);
        }
      }
    }
    &.item-enterprise {
      .show-more-mb {
        background-color: $color-17;
      }
      td {
        padding:15px 10px 10px;
        &:nth-child(2) {
          background-color: rgba(255, 196, 20, .15);
        }
      }
    }
    td {
      padding:15px 10px 10px;
      font-size: rem(16);
      &:first-child {
        letter-spacing: -0.16px;
      }
      &:nth-child(2) {
        width: 144px;
        background-color: $color-e9;
        // font-weight: 600;
        font-weight: $fw-bold;
        font-size: rem(15);
        text-align: center;
      }
      // &:not(.pr-sub-title) {
      //   border-bottom: 1px solid rgba(76, 104, 132, 0.2);
      // }
      &.pr-sub-title {
        padding-top: 25px;
        font-size: rem(19);
      }
    }
  }
  .is-show-more {
    .icomoon {
      transform: scale(-1);
    }
  }
}