@import "../global/_variables.scss";

.rich-text {
  margin: $module-margin-spacing;
  word-break: break-word;

  .rich-text-container {
	  width: 100%;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
    // font-family: "Muli-bold", sans-serif;
    font-weight: $fw-bold;
    color: #2a3846;

    @media (max-width: 767px) {
      font-size: 30px;
    }
  }

  h2 {
    margin: 30px 0 20px;
    font-size: 30px;
    line-height: 1.6;
    // font-family: "Muli-bold", sans-serif;
    font-weight: $fw-bold;
    color: #484b4d;

    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  h3 {
    margin: 25px 0 15px;
    font-size: 20px;
    line-height: 1.4;
    // font-family: "Muli-bold", sans-serif;
    font-weight: $fw-bold;
    color: #484b4d;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  h4 {
    margin: 20px 0 10px;
    font-size: 20px;
    line-height: 1.6;
    // font-family: "Muli-SemiBold", sans-serif;
    font-weight: $fw-semi-bold;
    color: #484b4d;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  h5 {
	margin: 20px 0 10px;
    font-size: 18px;
    // font-family: "Muli-SemiBold", sans-serif;
    font-weight: $fw-semi-bold;
  }
  h6 {
	margin: 20px 0 10px;
    font-size: 16px;
    // font-family: "Muli-SemiBold", sans-serif;
    font-weight: $fw-semi-bold;
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
    // font-family: "Muli-Regular", sans-serif;
    font-weight: $fw-regular;
    color: #6d7882;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  iframe {
	  display: block;
	  max-width: 100%;
	  margin: auto;
  }

  a {
    font-size: 16px;
    line-height: 1.8;
    // font-family: "Muli-Regular", sans-serif;
    font-weight: $fw-regular;
    color: #4600a8;
    text-decoration: underline;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  strong,
  b {
    font-size: 16px;
    line-height: 1.8;
    // font-family: "Muli-Bold", sans-serif;
    font-weight: $fw-bold;
    color: #6d7882;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  em {
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    font-style: italic;
    color: #484b4d;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  ul {
    list-style-type: square;
    margin: 0 0 20px 20px;

    li {
      font-size: 16px;
      line-height: 1.5;
      // font-family: "Muli-Regular", sans-serif;
      font-weight: $fw-regular;
      color: #6d7882;

      a {
        color: #5400ca !important;
      }
    }
    ul {
      padding-left: 20px !important;
    }
  }

  ol {
    padding-left: 20px;
    ol {
      padding-left: 20px;
    }
    li {
      display: list-item;
      list-style-type: decimal;
      position: relative;
      margin-bottom: 20px;
      padding-left: 0;
      font-size: 16px;
      line-height: 1.6;
      color: #6d7882;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    ol {
      margin-top: 20px;
      padding-left: 30px;
    }
  }
  table {
    th,
    td {
      border: 1px solid #2a3846;
      padding: 10px;
      font-size: 16px;
      line-height: 1.8;
      // font-family: "Muli-Regular", sans-serif;
      font-weight: $fw-regular;
      color: #6d7882;
    }
    th {
      // font-family: "Muli-Bold", sans-serif;
      font-weight: $fw-bold;
    }
  }

  blockquote {
	  margin: 10px 60px;
	  padding-left: 10px;
	  border-left: 1px solid $greyColor;
	  position: relative;

	  &::before {
		  position: absolute;
		  content: "";
		  background-image: url(https://static.agilitycms.com/layout/img/ico/quote-left-gray.svg);
		  background-size: 40px 40px;
		  height: 40px;
		  width: 40px;
		  left: -50px
	  }


	  @media (max-width: 767px) {
		margin: 10px 40px;
		padding-left: 10px;
		border-left: 1px solid $greyColor;
		position: relative;

	  &::before {
		  position: absolute;
		  content: "";
		  background-image: url(https://static.agilitycms.com/layout/img/ico/quote-left-gray.svg);
		  background-size: 30px 30px;
		  height: 30px;
		  width: 30px;
		  left: -40px
	  }
	  }

  }
}
