@import '../global/setting';
/* mod-framework  */
.step {
  text-transform: uppercase;
  font-weight: $fw-semi-bold;
  font-size: rem(13);
  letter-spacing: 1.08px;
  line-height: 26px;
  border-radius: 16px;
  min-width: 85px;
  text-align: center;
  display: inline-block;
  margin-bottom: 36px;
  padding: 2px 0;
  color: #fff;
  background-color: #6d06ff;
}
/*  */
.window-os {
  .step {
    padding-top: 4px;
    padding-bottom: 0;
  }
}
.bg-right-step {
  right: -30px;
  position: absolute;
  z-index: 0;
	bottom: -25px;
	width: 123px
}
.bg-left-step {
  left: -30px;
  position: absolute;
  z-index: 0;
  bottom: -25px;
	opacity: 0;
	width: 123px
}
.item-step {
	// padding: 25px;
	padding: 55px 10px 0;
  min-height: 362px;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
		opacity: .75;
		width: 100%;
		height: 80%;
		background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(233, 240, 245) 100%);
  }
  &.style-right {
    flex-direction: row-reverse;
    .bg-left-step {
      opacity: 1;
    }
    .bg-right-step {
      opacity: 0;
    }
    &::before {
      left: auto;
      right: 0;
    }
  }
}
.title-framework {
  margin-bottom: 45px;
  h2 {
    margin-bottom: 17px;
  }
}
.img-step {
  z-index: 1;
  max-height: 370px;
}
.content-step {
	margin-bottom: 30px;
  h3,
  .h3 {
    letter-spacing: 0;
    margin-bottom: 14px;
  }
}
.mod-framework {
  padding-bottom: 50px;
  .bg-black-frame {
    display: none;
  }
}
.style-back {
  &.mod-framework {
    .bg-black-frame {
      display: block;
    }
    .bg-white-frame {
      display: none;
    }
  }
  .item-step {
    &::before {
			background: linear-gradient(-180deg, rgb(42, 56, 70) 0%, rgb(23, 27, 32) 100%);
      opacity: .3;
    }
    .bg-right-step,
    .bg-left-step {
      opacity: 1;
    }
  }
  .bg-right-step {
    top: -25px;
  }
  .bg-left-step {
    bottom: -25px;
  }
  .step {
    color: $color-17;
    background-color: $color-ff;
  }
}
.align-middle {
  vertical-align: middle;
}
@media (max-width: 767px) {
	.item-step {
    justify-content: center;
		&:last-child {
			margin-bottom: 0;
		}
  }
  .dark-mode {
    .img-step {
      max-width: 100%;
      margin: 0;
    }
  }
  .img-step {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .step-img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  } 
}
@media (min-width: 768px) {
  .dark-mode {
    .item-step {
      padding-top: 13px;
      padding-bottom: 10px;
    }
  }
  .bg-right-step,
	.bg-left-step  {
		width: 221px;
	}
	.item-step {
    padding: 33px 0 20px 30px;
		&::before {
			width: 80%;
			height: 100%;
			background: linear-gradient(90deg, rgb(233, 240, 245) 0%, rgb(255, 255, 255) 100%);
		}
		&.style-right {
      padding-left: 0;
      padding-right: 30px;
			&::before {
				left: auto;
				right: 0;
				transform: rotate(180deg);
      }
      .step-img {
        margin-right: 0;
      }
    }
    .content-step {
      max-width: 41%;
      margin-bottom: 0;
    }
    .step-img {
      max-width: 56%;
      text-align: right;
      display: inline-block;
      flex: 0 0 auto;
      margin: 0 -15px 0 0;
    }
  }
  .style-back {
		.item-step::before {
			background: linear-gradient(-90deg, rgb(23, 27, 32) 0%, rgb(42, 56, 70) 100%);
		}
	}
  .step-img {
    height: 342px;
    width: auto !important;
  }
}
@media (min-width: 992px) {
  .style-back {
    .bg-left-step {
      bottom: 30px;
      left: -13px;
    }
    .bg-right-step {
      right: 15px;
    }
  }
  .item-step {
    min-height: 390px;
  }
  .step-img {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  // .img-step {
  //   // max-width: calc(100% + 30px);
  //   // margin-left: -30px;
  // }
  .style-right {
    .img-step {
      margin-left: -15px;
    }
  }
}
@media (min-width: 1200px) {
  .title-framework {
    margin-bottom: 52px;
  }
  .mod-framework {
    padding-bottom: 84px;
  }
  // .img-step {
  //   // max-width: calc(100% + 60px);
  //   margin-left: 0;
  // }
}
@media (min-width: 1500px) {
  .item-step {
    padding: 22px 95px !important;
    .content-step,
    .step-img {
      max-width: 50%;
      width: 50% !important;
    }
    .step-img {
      text-align: left;
      margin-right: 0;
    }
  }
  .img-step {
    max-width: calc(100% + 95px);
  }
  .content-step-inner{
    max-width: 436px;
  }
  .style-right {
    .content-step-inner {
      margin-left: auto;
    }
    .img-step {
      margin-left: -110px; // for case not use gatsby-lazy-image
    }
    .lazyload-wrapper {
      display: flex;
      justify-content: flex-end;
      .img-step {
        margin-left: 0; // for case use gatsby-lazy-image
      }
    }

  }
}