@import '../global/setting';
.SearchResults {
  .box-result-search {
    display: none;
  }
  .search-input {
    // font-family: $mlSemi;
    font-weight: $fw-semi-bold;
    font-size: rem(24);
    font-weight: 600;
    letter-spacing: -0.46px;
    line-height: 31px;
    color: $color-2a;
    padding: 10.5px 90px 10.5px 20px;
    width: 100%;
    background-color: $color-e9f;
    border: 1px solid rgb(201, 216, 230);
    outline: none;
    border-radius: 0;
    &::-ms-clear {  /* Remove IE default X */
      display: none;
    }
  }
  button {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .container:not(.max-w-940) {
    max-width: 920px;
  }
  form {
    position: relative;
    button {
      background: rgb(88, 0, 212);
      height: 38px;
      width: 38px;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 7px;
      right: 11px;
      padding: 0 6px;
    }
  }
}
.search-btn {
  margin-top: 45px;
}
.load-more-search {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .35s;
  z-index: 0;
}
.loading-btn {
  opacity: 0 !important;
  pointer-events: none;
  &+ .load-more-search {
    opacity: 1;
  }
}
.clear-input {
  position: absolute;
  top: 12px;
  right: 54px;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: all .25s;
  z-index: -1;
  &::before {
    transition: all .25s;
  }
  &.show {
    opacity: 1;
    z-index: 1;
  }
}
.done-search {
  .box-result-search {
    display: block;
  }
  .loading-search {
    display: none;
  }
}
.box-search {
  max-width: 654px;
  // margin: 12px auto 62px;
  // margin: 12px auto 45px;
  margin: 12px auto 20px;
  h1 {
    // margin-bottom: 37px;
    margin-bottom: 20px;
  }
}
.number-result {
  margin-bottom: 0;
  font-style: italic;
}
.item-result {
  border-bottom: 1px solid #c9d8e6;
  padding-top: 23px;
  padding-bottom: 23px;
  &:last-child {
    border: none;
  }
  h4 {
    color: $color-58;
    // font-family: $mlBold;
    font-weight: $fw-bold;
    font-size: rem(16);
    a {
      text-decoration: underline;
      word-break: break-word;
      &:hover {
        text-decoration: none;
      }
    }
  }
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 50px;
    p {
      margin-bottom: 0;
    }
    &>*:last-child {
      margin-bottom: 0;
    }
  }
  br {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .clear-input {
    &:hover::before {
      color: $color-58;
    }
  }
}