.share {
	position: fixed;
	top: 170px;
	display: inline-block;
	transition: opacity 0.25s ease-in;
	opacity: 0;
	padding-left: 100px;
	text-align: center;
	z-index: -10;

	&.show {
		opacity: 1;
		z-index: 4;
	}

	@media (max-width: 767px) {
		display: none;
	}

	 @media (max-width: 1280px) {
	 	padding-left: 10px;
	 }

	 @media (min-width: 1500px) {
	 	padding-left: 120px;
	 }

	// @media (min-width: 1920px) {
	// 	padding-left: 20%;
	// }

	// @media (min-width: 2500px) {
	// 	padding-left: 25%;
	// }

	label {
		display: block;
	}
	.SocialMediaShareButton {
		display: block;
		margin: 8px auto;
		text-align: center;
		width: 36px;
		cursor: pointer;

		transition: filter 0.25s ease-in-out;
		// filter: grayscale(100%);

		circle {
			fill: #686868;
			transition: all .25s;
		}

		&:hover {
			// filter: none;
			&:nth-child(2) {
				circle {
					fill: rgb(59, 89, 152);
				}
			}
			&:nth-child(3) {
				circle {
					fill: rgb(0, 172, 237);
				}
			}
			&:nth-child(4) {
				circle {
					fill: rgb(0, 127, 177);
				}
			}
		}
	}
}
