@import '../global/setting';

/*  */
.getting-starter {
	padding-bottom: 80px;
	padding-top: 45px;
	.stater-col {
		padding: 0 22px;
	}
	.row {
		margin-left: -22px;
		margin-right: -22px;
	}
}
.starter-card {
	box-shadow: 0 5px 30px -8px rgba(85, 63, 164, 0.25);
	transition: all .25s;
	height: 100%;
}
.starter-thumb {
	padding-bottom: 85.2%;
	background-color: $color-c9;
	cursor: pointer;
	&::after {
		content: "";
		background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.10) 100%);
		@include position(absolute,0,0,0,0,1);
	}
}
.starter-content {
	padding: 24px 20px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 24px;
		right: 24px;
		height: 1px;
		background-color: $color-c9;
	}
	p {
		color: $color-4c;
	}
}
.starter-logo {
	padding: 15px 24px 20px;
}
.stater-hover {
	opacity: 0;
	z-index: 2;
	transition: all .25s;
	background-color: transparent;
	.btn {
		background-color: $white;
		color: $color-58;
		border: 0;
		margin: 0;
		// &::after {
		// 	margin-left: 54px;
		// }
	}
}
.stater-col {
	margin-bottom: 40px;
}
.framk-logo {
	img {
		max-height: 25px;
		max-width: 87px;
	}
	h5 {
		margin-bottom: 0;
		white-space: nowrap;
		margin-right: 7px;
		margin-top: 2px;
		text-transform: inherit;
		color: $color-2a;
		font-size: rem(14);
	}
}
.btn-load-more {
	margin-top: 50px;
	.btn {
		margin-bottom: 0;
		transition: all .25s;
	}
}
.starter-head {
	max-width: 880px;
	padding-bottom: 50px;
	// margin: 0 auto;
	ul,
	ol {
		text-align: left;
	}
}
// .row.row-custom {
// 	margin: 0 -35px;
// }
// .ios .black-starters:before {
// 	top: -2px;
// }
@media (min-width: 768px) {
	.starter-thumb {
		padding-bottom: 70.84%;
	}
	.starter-content {
		padding: 24px;
	}
	.stater-col {
		// padding: 0 25px;
		margin-bottom: 0;
		margin-top: 48px;
		&:nth-child(1),
		&:nth-child(2) {
			margin-top: 0;
		}
	}
	// .row-custom {
	// 	max-width: 771px;
	// }
	.starter-head {
		padding-bottom: 88px;
		h5 {
			// max-width: 357px;
			// margin-left: auto;
			// margin-right: auto;
			// text-align: left;
			margin-bottom: 24px;
		}
	}
}
// @media (min-width: 992px) {
// 	.row.row-custom {
// 		margin: 0 auto;
// 	}
// }
@media (min-width: 1200px) {
	// .row-custom {
	// 	max-width: 1105px;
	// }
	.getting-starter {
		padding-top: 40px;
		padding-bottom: 150px;
		h1 {
			margin-bottom: 12px;
		}
	}
	.starter-thumb {
		padding-bottom: 71%;
	}
	// .starter-head {
	// 	padding-bottom: 40px;
	// }
	.stater-col {
		&:nth-child(3) {
			margin-top: 0;
		}
	}
	.starter-card {
		&:hover {
			box-shadow: 0 0 6px 0 rgba(85, 63, 164, 0.37);
			.stater-hover {
				opacity: 1;
				background-color:  rgba(88, 0, 212, .5);
			}
		}
	}
}

// @media (min-width: 1501px) {
// 	.row.row-custom {
// 		margin: 0 -65px;
// 	}
// 	.getting-starter .stater-col {
// 		padding: 0 65px;
// 	}
// }
// 	.stater-col {
// 		&:nth-child(3n + 1) {
// 			.starter-card {
// 				margin-right: 10px;
// 			}
// 		}
// 		&:nth-child(3n + 2) {
// 			.starter-card {
// 				margin: 0 5px;
// 			}
// 		}
// 		&:nth-child(3n + 3) {
// 			.starter-card {
// 				margin-left: 10px;
// 			}
// 		}
// 	}
// }

@media (max-width: 767px) {
	
}