@import '../global/setting';

/*  */
.getting-starter {
	padding-bottom: 80px;
	padding-top: 45px;
}
.starter-card {
	box-shadow: 0 5px 30px -8px rgba(85, 63, 164, 0.25);
	transition: all .25s;
}
.starter-thumb {
	padding-bottom: 85.2%;
	background-color: $color-c9;
	cursor: pointer;
}
.starter-content {
	padding: 24px 20px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		height: 1px;
		background-color: $color-c9;
	}
}
.starter-logo {
	padding: 15px 24px 20px;
}
.stater-hover {
	opacity: 0;
	z-index: 2;
	transition: all .25s;
	background-color: transparent;
	.btn {
		background-color: $white;
		color: $color-58;
		border: 0;
		margin: 0;
	}
}
.stater-col {
	margin-bottom: 40px;
}
.framk-logo {
	max-width: 87px;
	img {
		max-height: 25px;
	}
}
.btn-load-more {
	margin-top: 50px;
	.btn {
		margin-bottom: 0;
		transition: all .25s;
	}
}
.starter-head {
	max-width: 880px;
	padding-bottom: 50px;
	// margin: 0 auto;
}
@media (max-width: 767px) {
	.safari .black-starters:before {
		top: -2px;
	}
}
@media (min-width: 768px) {
	.starter-thumb {
		padding-bottom: 70.84%;
	}
	.starter-content {
		padding: 24px;
	}
	.stater-col {
		// padding: 0 25px;
		margin-bottom: 50px;
		&:nth-last-child(1),
		&:nth-last-child(2) {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1200px) {
	.getting-starter {
		padding-top: 50px;
		padding-bottom: 100px;
	}
	.starter-thumb {
		padding-bottom: 85.2%;
	}
	// .starter-head {
	// 	padding-bottom: 40px;
	// }
	.stater-col {
		&:nth-last-child(3) {
			margin-bottom: 0;
		}
	}
	.starter-card {
		&:hover {
			box-shadow: 0 0 6px 0 rgba(85, 63, 164, 0.37);
			.stater-hover {
				opacity: 1;
				background-color:  rgba(88, 0, 212, .5);
			}
		}
	}
}

@media (min-width: 1501px) {
	.stater-col {
		&:nth-child(3n + 1) {
			.starter-card {
				margin-right: 10px;
			}
		}
		&:nth-child(3n + 2) {
			.starter-card {
				margin: 0 5px;
			}
		}
		&:nth-child(3n + 3) {
			.starter-card {
				margin-left: 10px;
			}
		}
	}
}

@media (max-width: 767px) {
	
}