//main-width "padding-width"
@import "./_variables.scss";
@import '../global/setting';

html.search-open {
  overflow: hidden;
}
body.search-open {
  overflow-y: scroll;
}
button {
  &:focus {
    outline: none !important;
  }
}

strong {
	font-weight: bold;
}

p.intro {
  max-width: 1008px;
  display: block;
  margin: 0 auto 30px;
  font-size: 20px;
  line-height: 1.6;
  // font-family: "Muli-SemiBold", sans-serif;
  font-weight: $fw-semi-bold;
  color: #484b4d;
  text-align: center;
}

.p-w-small {
  padding-top: 70px;
  padding-bottom: 0;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;


  @media (max-width: 767px) {
	padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 768px) {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
  }

  @media (min-width: 1100px) {
	width: 100%;
	padding-left: 14%;
    padding-right: 14%;
  }


  @media (min-width: 1400px) {
	width: 100%;
	padding-left: 18%;
    padding-right: 18%;
  }

  @media (min-width: 1700px) {
	width: 100%;
	padding-left: 22%;
    padding-right: 22%;
  }


}

// // buttons
// .btn {
//   display: inline-block;
//   border: none;
//   outline: none;
//   background-color: $btn;
//   font-size: 13px;
//   font-family: $bold;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   text-align: center;
//   color: #ffffff;
//   min-height: 48px;
//   line-height: 48px;
//   border-radius: 5px;
//   box-shadow: 0 5px 35px 0 rgba(109, 6, 255, 0.25);
//   padding: 0 23px 0 22px;
//   cursor: pointer;
//   transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);

//   &:hover,
//   &:focus {
//     -moz-box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
//     -webkit-box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
//     box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
//     background-color: $btnhov;
//   }
// }

.btn-secondary {
  background-color: $primaryColor;
  color: #484b4d;
  -webkit-box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  &:hover,
  &:focus {
    -webkit-box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    background-color: $primaryColor;
  }
}

.btn-light {
  background-color: #e9eef1;
  color: #484b4d;
  -webkit-box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.25);
  &:hover,
  &:focus {
    -webkit-box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 46px 0 rgba(255, 255, 255, 0.6);
    background-color: #e9eef1;
  }
}

p {
  word-break: break-word;
}

// titles
.title-component {
  // font-family: $bold;
  font-weight: $fw-bold;
  font-size: 30px;
  // font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $titles;

  &:after {
    display: block;
    content: "";
    margin: 15px auto 0 auto;
    width: 100%;
    max-width: 170px;
    height: 6px;
    background: $primaryColor;
  }
}

i.more {
  display: none;
  // font-family: $bold;
  font-weight: $fw-bold;
  font-size: 12px;
  // font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #484b4d;
}

.anim-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

a.arrow-button {
  min-width: 112px;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;

  span {
    display: block;
    padding-right: 8px;
    font-size: 16px;
    // font-family: "Muli-bold", sans-serif;
    font-weight: $fw-bold;
    color: #484b4d;
    -webkit-transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
    -moz-transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
    -ms-transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
    -o-transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
    transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
  }

  &:hover {
    span {
      padding-right: 15px;
    }
  }
}

.container-my {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  @media (max-width: 1440px) {
    width: 1100px;
  }
  @media (max-width: 1199px) {
    width: 940px;
  }
  @media (max-width: 991px) {
    width: 720px;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

input, textarea, select {
	// font-family: $regular;
  font-weight: $fw-regular;
}