// font-fam
/*
$fontPath: "https://static.agilitycms.com/layout/fonts/";

@font-face {
  font-family: "Muli-Regular";
  src: local("Muliregular"), local("Muli-Regular"),
    url($fontPath+"Muliregular.woff2") format("woff2"),
    url($fontPath+"Muliregular.woff") format("woff"),
    url($fontPath+"Muliregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: local("Mulisemibold"), local("Mulisemibold"),
    url($fontPath+"Mulisemibold.woff2") format("woff2"),
    url($fontPath+"Mulisemibold.woff") format("woff"),
    url($fontPath+"Mulisemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: local("Muliextrabold"), local("Muliextrabold"),
    url($fontPath+"Muliextrabold.woff2") format("woff2"),
    url($fontPath+"Muliextrabold.woff") format("woff"),
    url($fontPath+"Muliextrabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli-bold";
  src: local("Mulibold"), local("Mulibold"),
    url($fontPath+"Mulibold.woff2") format("woff2"),
    url($fontPath+"Mulibold.woff") format("woff"),
    url($fontPath+"Mulibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandingMedium";
  src: url($fontPath+"Branding-Medium.eot");
  src: (
    url($fontPath+"Branding-Medium.eot?iefix") format("eot"),
    url($fontPath+"Branding-Medium.woff") format("woff"),
    url($fontPath+"Branding-Medium.ttf") format("truetype")
  );
  font-display: swap;
}
*/