@import '../global/setting';
.header {
  @include position(relative, 0, 0, null, 0, 9999);
  @extend %add-tr;
  background-color: $white;
  transition: all .25s;
  .navbar {
    padding: 10px 20px;
    transition: all .25s;
  }
  .btn-pin {
    display: none;
  }
  &.pos-fixed {
    position: fixed;
  }
  &.pin-header {
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .11);
    // background-color: rgba(255,255,255,.95);
    .main-menu {
      animation: pinheader .35s;
    }
    .btn-menu {
      display: none;
    }
    .btn-menu-v2 {
      display: block;
    }
    .btn-pin {
      display: block;
    }
    .navbar {
      padding: 7px 20px;
    }
  }
}
// .unpin-header {
//   animation: opacity .25s;
// }
.ie {
  .header-logo {
    img {
      height: 100%;
    }
  }
}
.header-logo {
  max-width: 158px;
}
.skip-link {
  z-index: 1;
  line-height: 3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;

  &:focus {
    outline: none;
    max-height: 50px;

    span {
      text-decoration: underline;
    }
  }
}
.group-search {
  width: 70px;
  transition: all .35s;
  position: relative;
  .link-search {
    margin-right: 5px;
    margin-left: auto !important;
    z-index: 9;
    transition: all .35s;
  }
  &.open {
    // width: 262px;
    width: 170px;
    form {
      opacity: 1;
      z-index: 10;
    }
    .link-search {
      opacity: 0;
    }
  }
  form {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    width: 100%;
    max-width: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .35s;
  }
  .bind-text {
    font-size: 16px;
    // font-family: $mlBold;
    font-weight: $fw-bold;
    color: transparent;
    max-height: 2px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    max-width: 100%;
    &.change-text {
      background-color: #5800d4;
    }
  }
  input {
    width: 100%;
    height: 45px;
    border: solid 1px #c9d8e6;
    background-color: rgba(233, 240, 245, 0.8);
    padding: 10px 50px 10px 10px;
    outline: none;
    color: #5800d4;
    font-size: 16px;
    // font-family: $mlBold;
    font-weight: $fw-bold;
    border-radius: 0;
    &::placeholder {
      color: #5800d4;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: $color-58
    }
  }
  .submit-search {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    right: 6px;
    top: 10px;
    cursor: pointer;
  }
}
.navbar-brand {
  display: inline-block;
  padding-top: .26625rem;
  padding-bottom: .26625rem;
  margin-right: 1rem;
  font-size: 1.32813rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-nav {
  // display: flex;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 991px) {
  .group-search {
    input {
      padding-left: 15px;
    }
  }
  .header-mobile {
    position: relative;
    &::after {
      content: '';
      position: relative;
      top: 0;
      z-index: -1;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .is-open-menu {
    .header-mobile {
      &::after {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
      }
    }
    .hamburger-menu {
      .icon-bar {
        &:nth-child(1) {
          transform-origin: top left;
          top: 1px;
          left: 6px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform-origin: left top;
          top: 7px;
          left: 5px;
          transform: rotate(-46deg);
        }
      }
    }
  }
  .dropdown-menu {
    border: none;
    padding-top: 5px;
    padding-bottom: 0;
    ul a {
      padding: 10.5px 13px;
    }
  }
  li.has-sub {
    >a  {
      position: relative;
      &::after {
        content: '';
        @include position(absolute,null,null,0,0);
        @include sizeEx(0,2px);
        background-color: $color-58;
        transition: all .35s;
      }
    }
    &.is-open-child {
      > a::after {
        width: 100%;
      }
    }
  }
  li.box-search-header {
    margin-top: 25px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    .group-search {
      order: 3;
      margin-top: 22px;
    }
    .btn-menu {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .group-search {
    width: 100%;
    form {
      opacity: 1;
      z-index: 10;
    }
    .open-search {
      opacity: 0;
    }
  }
  .header {
    .navbar {
      display: block;
    }
  }

  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
    height: 100%;
  }

  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);
    }

    .header {
      bottom: 0;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header {
    position: absolute;
  }
}
@media (min-width: 992px) {
  .header {
    .navbar {
      padding: 20px 20px; 
    }
    &.pin-header {
      .navbar {
        padding: 12px 20px; 
      }
    }
    // .navbar {
    //   padding: 0 15px;
    // }
  }
  .header-logo {
    max-width: 180px;
    img {
      min-width: 180px;
      height: 46px;
    }
  }
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .navbar-collapse {
      flex-basis: auto;
      display: flex !important;
      align-items: center;
      flex-grow: 1;
    }
  }
  .navbar-nav{
    display: flex;
  }
  .box-search-header {
    .btn-menu:not(.btn-menu-v2){
      order: 5;
    }
  }
}
@media (max-width: 991px) {
  .header .btn-pin {
    display: inline-block;
  }
}
@media (min-width: 1500px) {
  .group-search {
    &.open {
      width: 262px;
    }
  }
}
@keyframes pinheader {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
