@import "./_variables.scss";

/* 1200px */
@media screen and (max-width: $desktop-width) {
  .canvas {
    display: none;
  }
  .front-start {
    padding-bottom: 120px;
  }
  .benefits .ben-items-forslider {
    .ben-item {
      margin: 0 auto 40px auto;
    }
  }

  .featured-case-studies {
    .case-wrapper {
      .case-studies {

        .case-item {
          max-width: 352px;
          width: 100%;
          margin: 0 auto 40px auto;

        }
      }
    }
  }

  .cta-blocks {
    .block-list {
      .cta-block {
        margin: 0 auto 30px auto !important;
      }
    }
  }

  // .header {
  //   position: relative;
  //   background-color: #ffcb28;
  //   z-index: 21;

  //   .header-logo {
  //     width: 150px;
  //     line-height: 0;

  //     a {
  //       display: block;
  //     }
  //   }


  //   .btn {
  //     padding: 0 30px 0 30px;
  //   }
  // }
}

/* 1024px */
@media screen and (max-width: $tablet-width) {

  /* GENERAL RE-USE COMPONENTS */

  .row-my {
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;

    .col-md-4 {
      max-width: 50%;
      -webkit-box: 0 0 50%;
      -moz-box: 0 0 50%;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    .col-md-8 {
      max-width: 100%;
      -webkit-box: 0 0 100%;
      -moz-box: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  .canvas {
    opacity: 0.3;
  }

  .title-component {
    font-size: 32px;
  }

  // .btn {
  //   font-size: 13px;
  // }



  /* GLOBAL HEADER MODULE */

  // .header {
  //   margin-bottom: 0;

  //   .container-my {
  //     padding: 0;
  //   }

  //   .header-logo {
  //     width: 180px;
  //   }

  //   .header-menu {
  //     margin: 0 15px 0 20px;
  //   }

  //   .sticky-header {

  //     .container-my {
  //       padding: 0 20px;
  //     }

  //     .sticky-header-inner {
  //       padding-top: 16px;
  //       padding-bottom: 16px;
  //     }

  //   }
  // }

  // .header .btn, .header .sticky-header .sticky-header-active .header-btn-secondary,
  // .header .header-menu, .sign-in, .canvas, br {
  //   display: none;
  // }

  // .nav-icon1 {
  //   display: block;
  // }


  /* GLOBAL FOOTER MODULE */

  .foter {
    .foter-inner {
      flex-wrap: wrap;
      justify-content: flex-start;

      // .foter-menu {
      //   width: 33.333%;
      // }

    }

    .foter-copyright {
      .foter-copyright-menu {
        flex-wrap: wrap;
        // max-width: 420px;
        margin: 0 auto;
        >li:first-child {
          display: block;
          width: 100%;
          // margin-bottom: 5px;
        }
        li:nth-child(2) {
          margin-left: 0;
        }
      }

      .menu-social li {
        width: 35px;
      }
    }
  }

  .foter .foter-copyright .foter-copyright-menu > li:first-child {
    text-align: center;
  }

  // .foter .menu-social {
  //   margin: 0 auto 15px auto;
  // }


  /* CONTENT PANEL MODULE */
  .front-start {
    padding-bottom: 120px;
    .start-content {
      // padding: 0 !important;

      .start-buttons {
        .btn-link {
          max-width: 40%;
          text-align: left;
        }
      }
    }


  }


  /* BENEFITS MODULE */
  .ben-items.container {
    margin: 0 auto;
    overflow-x: hidden;
  }

  .benefits h2 {
    margin-bottom: 55px;
  }


  /* FEATURED CASE STUDIES MODULE */
  .featured-case-studies {
    .container-my {
      width: 100%;
    }

    .btn { margin: 0 auto; }

    .title-component {
      width: 90%;
      padding: 0 5%;
    }

    .case-wrapper {
      padding: 5px 0;

      .case-studies {
        .case-item {
          margin: 0 auto;
        }
      }
    }

  }


  /* CTA BLOCKS MODULE */
  .cta-blocks {
    .container-my {
      display: block;
      width: 100%;
    }

    .block-list {

      .cta-block {
        margin: 0 auto 40px auto !important;
      }
    }
  }

}


/* 580px */
@media screen and (max-width: $mobile-width) {


  .title-component {
    font-size: 18px;
  }

  i.more {
    display: none;
    margin-top: 21px;
    cursor: pointer;
  }

  // .foter .menu-social {
  //   margin: 0 auto 20px auto;
  // }

  .front-start {
    padding-bottom: 200px !important;

    .start-content {
      h1 {
        font-size: 20px !important;
        text-align: center;
        margin-bottom: 15px !important;
      }

      .start-buttons {
        justify-content: center;
        padding-top: 0 !important;
        .btn {
          margin-right: 0 !important;
        }
      }
    }

    .start-image {
      margin-bottom: 90px !important;
    }
  }

  .front-start .start-content .start-buttons .btn {
    margin-right: 15px;
  }

  /* RIGHT/LEFT CONTENT MODULE */

  .right-left-content {
    margin: 25px 0 !important;

    .rl-image {
      margin-bottom: 20px !important;
    }
  }

  /* BENEFITS MODULE */
  .ben-items-forslider {
    .ben-item {
      margin: 0 0 20px 0 !important;
      max-width: 100% !important;
    }
  }

  /* FEATURED CASE STUDIES MODULE */
  .featured-case-studies {
    .case-wrapper {
      .case-studies {
        .case-item {
          max-width: 100% !important;
        }
      }
    }

  }

  /* CTA BLOCKS MODULE */
  .cta-blocks {
    .block-list {
      .cta-block {
        max-width: 100% !important;
      }
    }
  }

}

