@import "./_variables.scss";

@media screen and (max-width: $xl-width) {
  .canvas {
    display: none;
  }
}

@media screen and (max-width: $lg-width) {
  .front-start {
    padding-bottom: 120px;
  }
  .benefits .ben-items-forslider {
    .ben-item {
      width: 30%;
      margin: 0 auto 40px auto;
      max-width: initial;
    }
  }
}

@media (max-width: $lg-width-plus-99) {
  .header .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: $md-width) {
  .front-start {
    padding-bottom: 120px;
  }
  .canvas {
    opacity: 0.3;
  }

  .title-component {
    font-size: 32px;
  }

  .header {
    margin-bottom: 0;
  }

  .front-start .start-image {
    box-shadow: none;

    img {
      -webkit-box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .benefits h2 {
    margin-bottom: 55px;
  }

  .features {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .work {
    padding-top: 100px;
    padding-bottom: 100px;

    p {
      margin-bottom: 80px;
    }

    .work-list {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;

      .work-item {
        width: 30%;
        margin: 0 auto 50px auto;
        text-align: center;
      }
    }
  }

  .triangle-feature-list {
    background-position: 30% 100%;
    background-size: auto 250px;
    min-height: 500px;

    .feature-set {
      margin-left: 20%;
    }
  }

  .landing-page-header {
    background-position: 50% 0%;
    background-size: cover;

    .landing-page-email-form {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header .header-logo {
    width: 180px;
  }

  .front-start {
    .start-content {
      .start-buttons {
        .btn-link {
          max-width: 40%;
          text-align: left;
        }
      }
    }
  }

  .header .header-menu {
    margin: 0 15px 0 20px;
  }

  .plan-set {
    margin-right: 0 !important;
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 100%;
    -ms-flex-positive: 100%;
    flex-grow: 1;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  .plan-all-features {
    margin-bottom: 20px;
  }

  .foter .foter-inner {
    flex-wrap: wrap;

    .foter-subscribe {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .foter .foter-copyright-menu {
    flex-wrap: wrap;
    max-width: 420px;
    li:first-child {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    li:nth-child(2) {
      margin-left: 0;
    }
  }

  .foter .menu-social li {
    width: 35px;
  }

  .ben-items.container {
    margin: 0 auto;
    overflow-x: hidden;
  }

  .nav-icon1 {
    display: block;
  }

  .header .btn,
  .header .sticky-header .sticky-header-active .header-btn-secondary,
  .header .header-menu,
  .sign-in,
  .canvas,
  br {
    display: none;
  }

  .row-my {
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;

    .col-md-4 {
      max-width: 50%;
      -webkit-box: 0 0 50%;
      -moz-box: 0 0 50%;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    .col-md-8 {
      max-width: 100%;
      -webkit-box: 0 0 100%;
      -moz-box: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
}

@media screen and (max-width: $std-width-minus-1) {
  .ben-items.container {
    width: 100%;
    overflow-x: visible;
  }
}

@media screen and (max-width: $std-width-plus-1) {
  .btn {
    font-size: 13px;
  }

  .header {
    margin-bottom: 0;

    .sticky-header .sticky-header-inner {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .header-logo {
      width: 150px;
    }
  }

  .title-component {
    font-size: 20px;
    line-height: normal;
  }

  p.intro {
    font-size: 16px;
  }

  .front-start {
    flex-direction: column;
    margin-bottom: 70px;
    padding-bottom: 50px;

    .rotated-bg {
      height: 120%;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .start-image {
      min-width: initial;
    }

    .start-content {
      order: 1;

      h1 {
        font-size: 20px;
        line-height: 1.67;
        margin-bottom: 19px;

        span {
          height: 18px;
        }
      }

      h2 {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 17px;
      }

      p {
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 32px;
      }

      ul li {
        font-size: 14px;
      }
    }

    .start-image {
      width: 100%;
      margin: 0 0 19px 0;
      text-align: center;
    }

    .start-buttons {
      justify-content: flex-start;
    }
  }

  .front-start .start-content .start-buttons button {
    margin-right: 30px;
  }

  .landing-page-template {
    .landing-page-header {
      padding: 30px 0 60px 0;
      margin-bottom: 20px;
      text-align: center;

      .logo {
        margin-bottom: 50px;
      }
    }

    .front-start {
      flex-direction: column;
      margin-bottom: 20px;
      padding-bottom: 20px;

      .start-image {
        order: 0 !important;
      }

      .start-content {
        order: 2 !important;
      }
    }
  }

  .features h2 {
    line-height: 1.67;
    margin-bottom: 23px;
  }

  .features > span {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 62px;
  }

  .features .features-tabs {
    margin: 0 auto 30px auto;
  }

  .features .features-toggle-tab-items .features-toggle-tab-item .content .feature-title {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
  }

  .features .features-toggle-tab-items .features-toggle-tab-item .content .feature-li-item {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 11px;

    span {
      top: 6px;
    }
  }

  .features .features-toggle-tab-items .features-toggle-tab-item .content button {
    margin-top: 25px;
  }

  .features {
    padding-bottom: 40px;
    padding-top: 20px;
  }

  #sec-4 {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .friends {
    h2 {
      margin-bottom: 23px;
    }

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 63px;
    }

    .friends-list {
      .friend-item {
        width: 100px;
        height: 100px;
      }
    }
  }

  .friends .friends-list > li:nth-child(7) {
    bottom: 60px;
  }

  .friends {
    .buttons {
      justify-content: space-between;

      button {
        width: 170px;
        font-size: 12px;
      }
    }
  }

  .work {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 73px;
    }
  }

  .work {
    .work-list {
      margin-bottom: 10px;

      .work-item {
        max-width: 30%;
        -webkit-box: 0 0 30%;
        -moz-box: 0 0 30%;
        -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        align-content: center;

        .image img {
          min-width: 80px;
          max-width: 100px;
        }
      }
    }
  }

  .plan-features-cta {
    .content-features {
      display: block;

      .cta-content {
        max-width: 100%;
        margin-bottom: 70px;
        text-align: center;
      }

      .features-list {
        max-width: 100%;
      }
    }
  }

  .featured-plan-cta {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    padding: 30px 20px;

    h4,
    p {
      margin: 0 0 20px 0;
      min-width: 100%;
    }

    h4 {
      font-size: 1.25em;
    }
  }

  .plan-details-table {
    .checkmark {
      width: 15px;
      height: 10px;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.05em;
      margin: 0 0 30px 0;
    }

    table {
      width: 100%;
      margin-bottom: 10px;
      font-size: 0.8em;

      thead {
        tr {
          margin-top: 20px;
          th {
            margin-top: 20px;
            padding: 10px 0;
          }

          th.plan {
            width: 12%;
          }
        }

        &.sub-title {
          tr {
            th {
              font-size: 1em;
              margin-top: 0;
            }
          }
        }
      }

      thead.main-head {
        tr {
          th {
            font-size: 1.1em;
            padding: 10px 0;
            &.null {
              padding-left: 5px;
              font-size: 1em;
            }
          }
        }
      }

      tbody {
        td {
          padding: 7px 0;
          font-size: 0.85em;
        }

        td.feature {
          font-size: 0.85em;
          padding-left: 5px;
        }

        td.title-col {
          font-size: 0.85em;
        }
      }
    }
  }

  .foter-inner {
    justify-content: flex-start;
  }

  .foter-menu {
    width: 50%;
  }

  .foter .foter-copyright .foter-copyright-menu {
    margin: 0 auto;
  }

  .foter .foter-copyright .foter-copyright-menu li:first-child {
    text-align: center;
  }

  .foter .menu-social {
    margin: 0 auto 15px auto;
  }
  .has-children:hover .sub-menu-icon {
    transform: rotate(0);
  }

  .benefits .ben-items-forslider {
    display: flex;

    > .ben-item {
      max-width: 460px;
    }
  }

  .row-my {
    .col-md-4,
    .col-md-5,
    .col-md-7 {
      max-width: 100%;
      -webkit-box: 0 0 100%;
      -moz-box: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  .landing-page-template {
    .front-start.front-start-landing {
      padding-top: 20px;
    }

    .front-start .start-content {
      order: 0;
    }

    .front-start-landing .landing-logo {
      margin: 20px 0 25px 0;
    }
  }
}

@media screen and (max-width: $sml-width) {
  //hidden items
  .feature-list li:first-child {
    display: block;
  }

  .feature-list li {
    display: block;
  }

  .features-toggle-tab-item .btn {
    display: none;
  }

  .features-toggle-tab-item.open .feature-list li {
    display: block;
  }

  .features-toggle-tab-item.open .btn {
    display: block;
  }

  i.more {
    display: none;
    margin-top: 21px;
    cursor: pointer;
  }

  .friends .friends-list .friend-item {
    width: 86px;
    height: 86px;
  }

  .work {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 600px) {
  .pricing .plan-set:first-of-type {
    margin: 0 !important;
  }

  .plan-item {
    max-width: 100% !important;
    flex-basis: 100% !important;
    -webkit-box-flex: 100% !important;
    -ms-flex-positive: 100% !important;
  }

  .plan-type {
    margin-top: 20px !important;
  }

  .plan-all-features {
    ul.two-column {
      display: block !important;
      li {
        width: 100% !important;
      }
    }
  }

  .foter .menu-social {
    margin: 0 auto 20px auto;
  }
}

@media screen and (max-width: $xs-width) {
  //.benefits .ben-items .ben-item
  //  max-width: 360px
  //  margin: 0 0 0 0
  .friends .friends-list > li:nth-child(5) {
    left: 40px;
    bottom: 20px;
  }
  .friends .friends-list > li:nth-child(2) {
    left: 94px;
    bottom: 20px;
  }

  .row-my {
  }

  .friends .buttons button {
    width: 160px;
    font-size: 11px;
  }

  .work {
    padding-bottom: 70px;

    .work-list {
      .work-item {
        .image {
          min-height: 90px;
          img {
            min-width: 60px;
            max-width: 80px;
          }
        }
        .description {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }

  .work .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .work .buttons button {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .front-start .start-content .start-buttons .btn {
    margin-right: 15px;
  }

  .triangle-feature-list {
    text-align: center;
    background: none;

    .feature-set {
      margin-left: 0;

      .feature-list {
        li {
          width: 100%;
        }
      }
    }
  }

  .features {
    .react-tabs__tab-list {
      .react-tabs__tab {
        .tab-title {
          font-size: 0.65em;
        }
        .tab-icon {
          display: block;
        }
      }
    }
  }
}
