@import '../global/setting';
.main-menu-ul {
  padding: 22px 0 1.5em 2px;

  .row>ul,
  .menu-child {
    padding-left: 15px;
  }

  >li {
    font-size: rem(16);

    // text-transform: uppercase;
    >a:not(.btn-menu) {
      padding: 12px 0;
      // font-weight: $fw-semi-bold;
    }
  }

  li {
    margin: 0;
    position: relative;
    // color: $color-2a;
    color: $color-17;
    // font-family: $mlBold;
    font-weight: $fw-semi-bold;
    line-height: 1.5;
    font-size: rem(15);

    a:not(.btn-menu) {
      display: block;
      color: inherit;
      text-decoration: none;
	  white-space: nowrap;
    }

    &:hover,
    &.active {
      color: $color-58;
    }
    &::before {
      display: none;
    }
  }
}
// //hack code
// .menu-header-right li:last-child >a:nth-child(2){
//   display: none;
// }
.main-menu-dropdown {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;

  .container {
    padding: 0;
  }

  .nav-item-arrows {
    top: -5px;
  }

  ul {
    // li {
    //   color: $gray-900;
    // }

    a {
      padding: 10px 15px;
    }
  }

  li {
    // text-transform: none;
    font-size: rem(15px);
    // li {
    //   text-transform: none;
    // }
  }

  .menu-child {
    display: none;
  }

  .open-menu-child {
    .menu-child {
      display: block;
    }

    .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  padding: 0;
  margin-top: 8px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  cursor: pointer;
  outline: none !important;
  .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    background: $color-2a;
    position: relative;
    margin-left: auto;

    +.icon-bar {
      margin-top: 5px;
    }
  }

  .icomoon {
    font-size: 2em;
    display: none;
  }

  &.is-open-menu {
    .icomoon {
      display: block;
    }

    .icon-bar {
      display: none;
      // &:first-child {
      //   transform: rotate(45deg);
      //   transform-origin: top left;
      //   top: 5px;
      //   left: 2px;
      // }
      // &:nth-child(2) {
      //   opacity: 0;
      // }
      // &:nth-child(3) {
      //   transform: rotate(-46deg);
      //   transform-origin: left top;
      //   top: 9px;
      // }
    }
  }
}

.nav-item-arrows {
  @include position(absolute, -1px, -10px, null, null, 1);
  color: inherit;
  font-size: rem(6);
  padding: 10px;
  cursor: pointer;
  transform: rotate(180deg);
}
.link-search {
  position: relative;
  background-color: transparent;
  border: none;
  width: 38px;
  height: 38px;
  cursor: pointer;
  img {
    max-width: 25px;
    @include position(absolute,$top: 8px,$left: 6px);
  }
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1.0625rem;
  color: #4c6884;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,20,42,.15);
  border-radius: 0;
  ul {
    list-style: none;
  }
}

@media (max-width: 1199px)  {
  // .main-menu-ul {
  //   li:hover:not(.active):not(.is-open-child) {
  //     color: initial;
  //   }
  // }
  .is-open-child {
    .main-menu-dropdown {
      display: block;
    }
    > a {
      color: $color-58;
    }
    >.nav-item-arrows {
      transform: rotate(0deg);
      transform-origin: center;
      color: $color-58;
    }
  }

  .main-menu {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .4s;
    display: block;
    width: 100%;

    .main-menu-ul {
      width: 100%;
    }

    li {
      //border-top: 1px solid $boder-level1;
    }

    &.is-open-menu {
      max-height: 2000px;
      visibility: visible;
      overflow: hidden;
      transition: 1s;
    }
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

@media (min-width: 1200px)  {
  .window-os {
    .has-sub {
      > a::after {
        top: calc(50% - 1px);
      }
    }
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .link-search {
    border-radius: 50%;
    margin: 0 17px;
    transition: background-color .35s;
  }
  .has-sub {
    li {
      line-height: 1.73;
      transition: all .35s;
      a {
        padding: 8px 20px;
        transition: all;
      }
    }
    > a {
      position: relative;
      &::after {
        content: '\e906';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: absolute;
        font-size: 0.7rem;
        transform: translateY(-50%) scale(-1);
        transform: rotate(90deg);
        transition: all .25s;
        top: 42%;
        right: 2px;
      }

    }
    &:hover {
      > a {
        &::after {
          transform: translateY(-50%) scale(1);
          transform: rotate(-90deg);
        }
      }

    }
  }

  .main-menu {
    > .container {
      padding: 0;
    }
  }
  .main-menu-ul {
    padding: 0;
    li {
      font-size: rem(14);
    }
    >li {
      &.has-sub {
        margin-right: 12px;
        &.is-hovering {
          z-index: 20;
        .lv1-before,
        .lv1-after {
          content: '';
          position: absolute;
          top: 20px;
          right: 50%;
          height: 40px;
          width: 300px;
          // background-color: #c9d8e6;
          transform: rotate(-5deg);
          transform-origin: top right;
          z-index: -1;
        }
        .lv1-after {
          transform-origin: top left;
          right: auto;
          left: 50%;
          transform: rotate(5deg);
        }
        }
      }
      &:hover {
        .main-menu-dropdown {
          // display: block;
          opacity: 1;
          z-index: 88;
          pointer-events: all;
        }
      }
      >a:not(.btn-menu):not(.link-search) {
        padding: 15px 18px;
      }
      .btn-menu {
        margin-left: 24px;
        &:last-child {
          margin-left: 13px;
        }
      }
      .link-search {
        margin-left: 30px;
        &:hover {
          background-color: #f6fbff;
          background-image: linear-gradient(to bottom, #f6fbff, #e9f0f5);
        }
      }
    }

    /*  */
    //  >li {
    //   >a:not(.btn-menu):not(.link-search) {
    //     padding: 15px 10px;
    //     font-weight: $fw-semi-bold;
    //   }

    //   &:hover {
    //     .main-menu-dropdown {
    //       display: block;
    //     }
    //   }
    //   .btn-menu {
    //     margin-left: 15px;
    //   }
    // }

    .mega-dropdown {
      position: static;
    }
  }
  .main-menu-dropdown {
    margin: 0;
    background-color: $white;
    transform: translateY(0) translateX(-50%);
    left: 50%;
    width: auto;
    min-width: 190px;
    padding: 4px 4px 4px;
    border-radius: 2px;
    border: 1px solid rgba(201, 216, 230, .5);
    // box-shadow: 6px 4px 23px -2px rgba(23, 10, 41, 0.3);
    box-shadow: 6px 4px 23px -2px rgba(23, 10, 41, 0.12);;
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    &.has-mega-content {
      display: flex;
      // padding: 40px 33px;
      padding: 40px 33px 40px 13px;
      // min-width: 600px;
      min-width: 480px;
      // overflow: hidden;
      .dr-navi-col {
        flex: 0 0 50%;
        max-width: 50%;
      }
      li a {
        padding-left: 15px;
      }
    }
    .menu-child {
      display: block;
    }
  }
  .navbar {
    position: static;
  }

  .mega-content {
    position: relative;
    padding-left: 34px;
    padding-top: 8px;
    height: 100%;
    &.is-link {
      .mega-content-item {
        display: flex;
      }
    }
    &.is-spotlight {
      h5 {
        margin-bottom: 8px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: -40px;
      bottom: -40px;
      right: -33px;
      left: 0;
      z-index: -1;
      background-color: rgba($color: $color-c9, $alpha: 0.39);
      pointer-events: none;
    }
    h5 {
      font-size: rem(10);
      line-height: 1.8;
      letter-spacing: 0.5px;
      font-weight: $fw-semi-bold;
      margin-bottom: 13px;
      text-transform: uppercase;
    }
    h6 {
      line-height: 1.57;
    }
  }
  /* mega menu style  */
  .mega-link-logo {
    max-width: 34px;
    flex: 0 0 34px;
    margin-right: 10px;
  }
  .spotlight-thumb {
    margin-bottom: 10px;
    margin-right: -4px;
  }
  .mega-content-item {
    font-size: rem(12);
    line-height: 1.42;
    margin-bottom: 24px;
    &:hover {
      h6 {
        color: $color-58;
      }
    }
    h6 {
      color: $color-17;
      letter-spacing: 0;
      text-transform: none;
    }
  }
  .ie {
    .main-menu-dropdown {
      border: none !important;
    }
  }
}
/* speical for menu dropdown */
@media (min-width: 1320px)  {
  .main-menu-dropdown {
    &.has-mega-content {
      min-width: 600px;
      padding: 40px 33px;
    }
  }
}
@media (min-width: 1501px)  {
  .main-menu-ul {
    >li {
      .btn-menu {
        &:last-child {
          margin-left: 33px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .link-search {
    margin-bottom: 15px;
  }
  .dropdown-menu {
    padding-top: 0;
    margin-top: 0;
  }
  .main-menu-ul {
    li {
      line-height: 24px;
    }
    > li {
      &.has-sub
      {
        &.active {
          margin-bottom: 16px;
          > a {
            padding-bottom: 7px;
          }
        }
      }
    }
    .has-sub {
      &.is-open-child {
        color: $color-58;
        margin-bottom: 16px;
      }
      .dropdown-menu {
        li {
          // color: $color-4c;
          &.active {
            background-color: $color-e9f;
            color: $color-58;
          }
        }
      }
    }
  }
  .dropdown-menu {
    ul li a {
      padding: 12px 26px;
      line-height: 1.06;
    }
  }

  .mega-content {
    display: none;
  }
}
