$primaryColor: #ffcb28;
$secondaryColor: #5400ca;
$darkerSecondaryColor: #4600a8;
$greyColor: #717171;
$lightGreyColor: #ebebeb;
$medGreyColor: #dfdfdf;

//fonts
$regular: "Muli-Regular", sans-serif;
$semibold: "Muli-Semibold", sans-serif;
$bold: "Muli-bold", sans-serif;
$extrabold: "Muli-ExtraBold", sans-serif;

//sizes

$desktop-width: 1190px;
$tablet-width: 1024px;
$mobile-width: 580px;


//button
$btn: $darkerSecondaryColor;
$btnhov: #5800d4;

//text colors
$colorBasic: #484b4d;
$titles: #2a3846;
$gray: #6d7882;
$inactive: #9fa7b0;

$invalid: #cf0f0f;
$warning: #cf0f0f;

//page
$body: #fbfcfc;

//active
$act: #5400ca;

//white
$white: #fff;

//f0oter link color
$flc: #cbdeff;

//module spacing...
$module-margin-spacing: 50px 0;

//panel border radius
$border-radius: 8px;
