$primaryColor: #ffcb28;
$secondaryColor: #5400ca;
$greyColor: #717171;
$lightGreyColor: #ebebeb;
$medGreyColor: #dfdfdf;

//fonts
$regular: "Muli-Regular", sans-serif;
$semibold: "Muli-Semibold", sans-serif;
$bold: "Muli-bold", sans-serif;
$extrabold: "Muli-ExtraBold", sans-serif;

//sizes
$xl-width: 1680px;
$lg-width: 1190px;
$lg-width-plus-99: 1190px;
$md-width: 1080px;
$std-width: 768px;
$std-width-minus-1: 767px;
$std-width-plus-1: 767px;
$sml-width: 680px;
$xs-width: 480px;

//button
$btn: #4600a8;
$btnhov: #5800d4;

//text colors
$colorBasic: #484b4d;
$titles: #2a3846;
$gray: #6d7882;
$inactive: #9fa7b0;

$invalid: #cf0f0f;
$warning: #cf0f0f;

//page
$body: #fbfcfc;

//active
$act: #5400ca;

//white
$white: #fff;

//f0oter link color
$flc: #cbdeff;

//module spacing...
$module-margin-spacing: 50px 0;

//panel border radius
$border-radius: 8px;
