// @import "./_setting.scss";
// @import "./_mixins.scss";
// @import "./_placehoder.scss";

$primaryColor: #ffcb28;
$secondaryColor: #5400ca;
$darkerSecondaryColor: #4600a8;
$greyColor: #717171;
$lightGreyColor: #ebebeb;
$medGreyColor: #dfdfdf;
$color-2a: #2a3846;
//fonts
$regular: "Muli-Regular", sans-serif;
$semibold: "Muli-Semibold", sans-serif;
$bold: "Muli-bold", sans-serif;
$extrabold: "Muli-ExtraBold", sans-serif;

$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

//sizes

$desktop-width: 1200px;
$tablet-width: 1023px;
$tablet-portrait-width: 767px;
$mobile-width: 580px;

//button
$btn: $darkerSecondaryColor;
$btnhov: #5800d4;

//text colors
$colorBasic: #484b4d;
$titles: #2a3846;
$gray: #6d7882;
$inactive: #9fa7b0;

$invalid: #cf0f0f;
$warning: #cf0f0f;

//page
$body: #fbfcfc;

//active
$act: #5400ca;

//white
$white: #fff;

//f0oter link color
$flc: #cbdeff;

//module spacing...
$module-margin-spacing: 65px 0 35px;
@media screen and (max-width: $mobile-width) {
	$module-margin-spacing: 45px 0 25px;
}

//panel border radius
$border-radius: 8px;

//box shadows...
$panel-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);
$panel-box-shadow-hover: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
$panel-box-shadow-active: 0 2px 8px 0 rgba(0, 0, 0, 0.15);


