@import "../global/_variables.scss";

.call-to-action {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;

	.title-component {
		font-size: 26px;
	}

	.subtitle {
		text-align: center;
		margin: 15px 0 25px;

		font-size: 22px;
		line-height: 1.4;
		font-weight: bold;
		color: $titles;
	}

	img {
		text-align: center;
	}
	.rich {
		text-align: left;
	}
}
