@import "../global/_variables.scss";
@import '../global/setting';


.foter {
  position: relative;
  background-color: $act;
  color: $white;
  padding-top: 13px;
  padding-bottom: 18px;
  z-index: 1;

  .container-my {
    display: block;
  }

  .foter-inner {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  .foter-menu {
    margin-bottom: 23px;

    .foter-menu-li.title {
      // font-family: $extrabold;
      font-size: 14px;
      // font-weight: 800;
      font-weight: $fw-extra-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;
      margin-bottom: 30px;
    }

    .foter-menu-li a {
      // font-family: $regular;
      font-weight: $fw-regular;
      font-size: 14px;
      // font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $flc;
      display: block;
      cursor: pointer;
      margin-bottom: 14px;
      transition: all 0.2s ease-in-out;

      &:hover {
        //MOD: joelv - removed this to take away the text jump... switched to the text shadow below
        //font-weight: 600;
        color: $white;
        text-shadow: #fff 1px 0px;
      }
    }
  }

  .menu-social {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: max-content;

    &:hover {
      a {
        //background-image: url('../img')
      }
    }

    li:first-child:hover {
      a {
        //background-image: url('../img')
      }
    }

    li:nth-child(2) {
      a {
        margin-top: 3px;
        margin-bottom: 11px;
      }
    }

    li {
      width: 40px;
      text-align: center;
      align-self: center;

      a {
        img {
          filter: brightness(0) invert(0.85);
          transition: filter 0.2s ease-out;

          max-height: 25px;
          max-width: 25px;
        }

        &:hover {
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  .foter-subscribe {
    span {
      // font-family: $extrabold;
      font-weight: $fw-extra-bold;
      font-size: 14px;
      // font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 27px;
      display: block;
    }

    p {
      // font-family: $semibold;
      font-weight: $fw-semi-bold;
      font-size: 14px;
      // font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      margin-bottom: 25px;
    }

    .foter-subscribe-form {
      width: 100%;
      max-width: 384px;
      height: 40px;
      border-radius: $border-radius;
      background-color: $white;
      position: relative;
      overflow: hidden;

      input[type="email"] {
        // font-family: $regular;
        font-weight: $fw-regular;
        font-size: 12px;
        // font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5400ca;
        border: none;
        outline: none;
        z-index: 4;
        padding-left: 24px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      input[type="email"]::-webkit-input-placeholder {
        color: #bc95f2;
      }

      input[type="email"]:-ms-input-placeholder {
        color: #bc95f2;
      }

      input[type="email"]::-moz-placeholder {
        color: #bc95f2;
        opacity: 1;
      }

      input[type="email"]:-moz-placeholder {
        color: #bc95f2;
      }

      input[type="submit"] {
        width: 102px;
        height: 36px;
        border-radius: $border-radius;
        box-shadow: 0 5px 35px 0 rgba(109, 6, 255, 0.25);
        background-color: $darkerSecondaryColor;
        // font-family: $bold;
        font-weight: $fw-bold;
        font-size: 13px;
        // font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        position: absolute;
        border: none;
        outline: none;
        top: 50%;
        right: 2px;
        z-index: 5;
        transform: translate(0, -50%);
        transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;
          -moz-box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
          -webkit-box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
          box-shadow: 0 5px 46px 0 rgba(109, 6, 255, 0.39);
          background-color: $btnhov;
        }
      }
    }
  }

  .foter-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-wrap: wrap-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
    }

    p {
      // font-family: $regular;
      font-weight: $fw-regular;
      font-size: 11px;
      // font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      position: relative;
      margin-top: 3px;
      @media (max-width: 767px) {
        max-width: 100%;
        -webkit-box: 0 0 100%;
        -moz-box: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        text-align: center;
      }
    }

    .foter-copyright-menu {
      font-size: 12px;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        max-width: 100%;
        -webkit-box: 0 0 100%;
        -moz-box: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: center;
      }

      li {
        margin-left: 7px;

        &:first-child {
          margin-left: 0;
          border-right: none;
          &::after {
            content: "  ";
          }
        }

        &::after {
          content: "|";
          margin-left: 7px;
        }

        &:last-child::after {
          display: none;
        }
      }

      a {
        // font-family: $regular;
        font-weight: $fw-regular;
        font-size: 13px;
        // font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.85;
        letter-spacing: normal;
        color: $white;
      }
    }
  }
}
