

.learn-more-cta {
	padding: 35px;
	max-width: 432px;
	.d-table {
		height: 310px;
	}
}

@media screen and (max-width: 991px) {
  .learn-more-cta {
    margin-left: auto;
    margin-right: auto;
  }
}