.btn {
  margin: 0 15px 15px 0;
  display: inline-block;
  // font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid $border-color;
  // font-family: $mlBold;
  font-weight: $fw-bold;
  position: relative;
  cursor: pointer;
  transition: all .35s;
  box-shadow: 1px 1px 0 0 transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include hover {
    transform: scale(1.03);
    opacity: .93;
  }
  &:not(.btn-menu) {
    padding-right: 22px;
    &::after {
      content: '\e906';
      font-family: $icomoon;
      font-weight: $fw-regular;
      // @include position(absolute,$top: 19px,$right: 21px);
      position: relative;
      display: inline-block;
      font-size: rem(11);
      margin-left: 7px;
    }
  }
}
.window-os {
  .btn {
    padding-top: 15.5px;
    padding-bottom: 13.5px;
  }
}
.header .btn-menu {
  margin: 0;
  padding: 9px 19px;
}
.window-os .header .btn-menu {
  // margin: 0;
  padding: 10px 19px 8px;
}
.btn-primary {
  color: $white;
  background-color: $color-58;
  border-color: $color-58;

  &:hover,
  &:focus {
    color: $white;
  }
}
.btn-yellow {
  color: $color-2a;
  background-color: $color-ff;
  border-color: $color-ff;

  &:hover,
  &:focus {
    color: $color-2a;
  }
}
.btn-gray {
  color: $white;
  background-color: $color-c9;
  border-color: $color-c9;

  &:hover,
  &:focus {
    color: $white;
  }
}
.btn-outline-yellow {
  background-color: $white;
  border-color: $color-ff;
  color: $color-2a;
  &:hover,
  &:focus {
    color: $color-2a;
  }
}
.btn-outline-primary {
  background-color: transparent;
  border-color: $color-58;
  color: $color-58;
  &:hover,
  &:focus {
    color: $color-58;
  }
}
.btn-white {
  background-color: $white;
  border-color: $white;
  color: $color-58;
  &:hover,
  &:focus {
    color: $color-58;
  }
}
.btn-outline-white {
  background-color: $color-58;
  border-color: $white;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
  }
}
.link-line {
  font-size: rem(16);
  line-height: 1.31;
  // font-family: $mlBold;
  font-weight: $fw-bold;
  position: relative;
  &::after {
    content: '\e906';
    font-family: $icomoon;
    font-weight: $fw-regular;
    position: relative;
    display: inline-block;
    font-size: rem(11);
    // top: 4px;
    margin-left: 6px;
  }
  &::before {
    content: '';
    @include position(absolute,null,null,-6px,0);
    transition: all .35s;
    @include size(0,2px);
  }
  &:hover,
  &:focus {
    text-decoration: none;
    &::before {
      width: 100%;
    }
  }
}
.line-purple {
  color: $color-58;
  &::before {
    background-color: $color-58;
  }
  &:hover,
  &:focus {
    color: $color-58;
  }
}
.line-white {
  color: $white;
  &::before {
    background-color: $white;
  }
  &:hover,
  &:focus {
    color: $white;
  }
}
.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  +.btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.text-center {
  .btn {
    margin: 0 10px 20px;
  }
}
.has-btn-white {
  .btn-outline-primary {
    color: $white;
    border-color: $white;
    background-color: transparent;
  }
}
@include media-breakpoint-up(md) {
  .btn {
    margin: 0 20px 20px 0;
  }
}