// space-0 => 200
@for $i from 0 through 20 {
  $height: $i*10;

  .space-#{$height} {
    height: $height+px;
  }
}

@include media-breakpoint-up(lg) {
  @for $i from 0 through 20 {
    $height: $i*10;

    .space-dt-#{$height} {
      height: $height+px;
    }
  }
}
