#BEGIN CACHE - 1 moth
<IfModule mod_headers.c>
<FilesMatch "\.(js|css|ico|gif|png|jpg|jpeg|flv|pdf|svg|ttf|eot|woff|otf|woff2)$">
HEADER add "Cache-Control" "max-age=31536000"
</FilesMatch>
</IfModule>
#END CACHE

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.html [L]
</IfModule>

# END WordPress