@import "../../global/_variables.scss";
@import '../../global/setting';

.form-select-c8{
  font-weight: 400;

}
.dropdown-toggle {
  display: block;
  font-size: inherit;
  background: rgba(201, 216, 230, 0.25);
  color: $color-58;
  padding: 14px 20px 14px 16px;
  text-decoration: none !important;
  min-width: 200px;
  transition: 0s all !important;
  font-weight: $fw-bold;
  *{
    pointer-events: none;
  }
  &::after {
    display: none;
  }

  &:hover {
    color: $color-58;
  }
  // &[aria-expanded='true'] {
  //   color: rgba($color: $color-2a, $alpha: .75);
  //   //background-color: $link-color;
  // }

  // &:focus {
  //   border: 1.5px solid #000;
  //   padding: 10px 10px 11px 15px;
  //   // box-shadow: 0 0 0 1px rgba($color: $black, $alpha: .75);
  // }
}

.filter-option {
  padding-right: 20px;
}

.caret-c8 {
  @include position(absolute, 22px, 24px, null, null, 1);
  font-size: rem(6);
  transition: all .35s;
  line-height: 5px;
  transform: scale(-1);
}
.scrollbar-custom-c8 {
  max-height: none !important;
}
.dropdown-menu-c8 {
  font-size: 1em;
  color: $color-2a;
  letter-spacing: -0.15px;
  border: none;
  border-top: 2px solid $color-75;
  box-shadow: 0px 5px 30px -8px rgba(85, 63, 164, 0.25);
  padding: 0;
  margin: 0;
  top: 100%;
  overflow: hidden;
  font-weight: $fw-bold;
  float: none !important;
  // position: absolute !important;
  &::before {
    display: none !important;
  }
  li{
    margin-bottom: 0;
  }
  .box-scroll {
    padding-right: 0;
    & + div + div {
      transform: translateX(3px);
      background-color: $color-e9;
      top: 0 !important;
      bottom: 0 !important;
      div {
        background-color: $color-4c !important;
      }
    }
  }
  .hide-scroll {
    .box-scroll {
      & ~  div {
        display: none;
      }
    }
  }
}

.dropdown-select-c8 {
  width: 100%;
  &.show {
    .dropdown-menu {
      display: block;
      
    }
    // .dropdown-toggle {
    //   padding: 10px 10px 11px 15px;
    //   // color: $color-2a;
    // }
    .caret-c8 {
      transform: scale(1);
    }
    // ul{

    // }
  }

  &.focus {
    li {
      a:focus {
        color: inherit;
      }
    }
  }
  ul{
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  li {
    // border-top: 2px solid $white;
    cursor: pointer;
    padding: 5px 16px;
    &:first-child {
      border-top: none;
    }

    &:hover,
    &.selected,
    &:focus,
    &.focus,
    &.active {
      color: $color-58;
      // &+li:hover {
      //   border-color: $color-58;
      // }
    }
    &:hover + .active {
      border-color: $color-58;
    }
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .8;

      a {
        cursor: not-allowed;
        // background-color: $gray-100;
        // color: $gray-900;
      }
    }

    a {
      color: inherit;
    }
  }
  .sq-checkbox {
    position: absolute;
    top: 13px;
    left: 10px;
  }
  .li-multi-box {
    padding-left: 40px;
    transition: all .25s;
    &.active {
      border-top-color: $color-58;
    }
  }
}
.sq-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 4px;
  border: 2px solid $color-4c;
  &.checked {
    &::before {
      background-color: $color-4c;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    // background-color: $color-d0;
  }
}

.window-os {
  .dropdown-toggle {
    padding: 15px 20px 12px 16px;
  }
}
@media (min-width: 768px) {
  .form-select-c8 {
    display: inline-block;
    width: 255px;
    &:first-child {
      margin-right: 24px;
    }
    &.w-300 {
      width: 300px;
    }
  }
}
@media (max-width: 767px) {
  .form-select-c8 {
   margin-bottom: 20px;
  }
}
